[2022-05-14 15:22] #3680 closed

[2022-05-14 15:23] magnus-madsen opened #3746 "Lexical scoped variables to use ${x} in Datalog"
The proposal is that you must write:

[code]

If you want to refer to `x` from the lexical scope in a Datalog rule (mirroring the syntax for string interpolation).

[2022-05-14 15:26] stephentetley commented on #3743
I've found a relational version of `foldMap` very handy - relations aren't monoids so this can't be done with the one we already have in Foldable:

[code]

Is a good candidate for adding to Foldable - with a new name of course?

(An alternative would be starting a module of relation builders and consumers in the stdlib).

[2022-05-14 15:27] magnus-madsen opened #3747 "Programmatic atoms"
Experiment with something like:

[code]

where if `xs` is the list `1 :: 2 :: Nil` the expansion would be:

[code]

[2022-05-14 15:30] stephentetley opened #3748 "Option - `toOk` and similar functions are not subject last"
`getWithDefault` was changed to subject last, but `toOk`, `toErr`, `toSuccess` and `toFailure` are not subject last. Should they be changed?

I'm happy to make a PR if there is agreement.

[2022-05-14 15:31] magnus-madsen commented on #3743
Interesting. Could you give an example of a use?

[2022-05-14 15:32] magnus-madsen commented on #3743
(Datalog program values are commutative monoids, but the type system does not allow us to express that-- yet)

[2022-05-14 15:33] magnus-madsen commented on #3748
Yes, I think so 👍

[2022-05-14 15:37] magnus-madsen commented on #3601
We have `static` (which will probably become `Static`). We could also have `Local` which would always refer to a local region belonging to each function and would always be in scope.

[2022-05-14 15:40] stephentetley commented on #3743
Basically any time I'm making a relation from a list...

https://github.com/stephentetley/work-flix/blob/d3d5e63e765f9d5f87d4e123dc185ab58a1d0b2d/work-flix-apps/S4Loader/src/S4Loader/Floc/Gen/WorkList.flix#L102

[2022-05-14 15:47] jaschdoc opened #3749 "Regions: Monomorph crash on `String.unfold`"
The `Str.unfold` function seems crash the compiler when the test function is run.
[code]

**Error**
[code]

[2022-05-14 16:09] jaschdoc opened #3750 "Regions: Monomorph crash on `String.reverse`"
**Program**
Note that the test does **not** call the `Str.reverse` but just the normal `String`. Either way, when it call `String.reverse` or `Str.reverse` it crashes.
[code]

**Error**
[code]

[2022-05-14 16:31] jaschdoc opened #3752 "Refactor `StringBuilder` in `String` to use regions."
Crashes occur at the moment when refactoring `String` to use regions where it uses `StringBuilder`s.
See #3749 #3750

[2022-05-14 16:42] magnus-madsen commented on #3749
@mlutze Interestingly this is a rigidity issue.

If I change l925 in Monomorph to:

[code]

then it no longer crashes.

[2022-05-14 16:43] magnus-madsen commented on #3749
Presumably #3644 would help, but it probably does not solve all these crashes.

We probably really need to do two things: Introduce the rigidity env and to force all type params to be rigid in the initial subst.

[2022-05-14 22:00] magnus-madsen opened #3754 "Monomorpher should not encounter rigid type variables"
A type signature, during monomorphization, should not contain rigid type variables.

[2022-05-14 22:04] magnus-madsen commented on #3754
A work around is introduced in #3755

[2022-05-14 22:05] magnus-madsen commented on #3750
@jaschdoc Can you confirm that #3755 helps?

[2022-05-14 22:05] magnus-madsen commented on #3749
@jaschdoc Can you confirm that #3755 helps?

[2022-05-14 22:32] #3742 closed

[2022-05-15 09:02] magnus-madsen commented on #3715
I think I like this idea. Could you do a "study" to investigate how much code would need to change? I assume that InferMonad and Typer would have to carry these environments. What about the Kinder and what about regions?

[2022-05-15 09:02] magnus-madsen commented on #3715
Also; do you see any way to refactor towards this, or does it require all changes in one go?

[2022-05-15 09:03] magnus-madsen commented on #3712
We should also check if `Chain` etc. should have an index of.

[2022-05-15 09:45] mlutze commented on #3715
I added an extra parameter to `Unification.unify` and related functions to trigger an error. Here's where the errors are:

| File | Unify Count | Rigidity Count |
| --- | --- | --- |
| Scheme | 1 | 5 |
| Type | 0 | 2 |
| FormatType | 0 | 2 |
| Instances | 2 | 0 |
| Monomorph | 3 | 0 |
| Namer | 0 | 3 |
| Regions | 0 | 1 |
| Stratifier | 1 | 0 |
| Typer | 93 | 3 |
| JvmOps | 0 | 1 |
| BoolUnificati

[2022-05-15 09:47] mlutze commented on #3715
What about this:
1. progressively add `renv` everywhere, but don't use it
2. switch to using `renv`
3. progressively remove `Rigidity` everywhere

[2022-05-15 09:56] JonathanStarup opened #3756 "Wrong highligting of camel case named hole"
![image](https://user-images.githubusercontent.com/32037926/168467033-d9e33f00-edc6-4c4c-a4b2-9a306a60ca08.png)

0.28.0

[2022-05-15 10:14] magnus-madsen commented on #3715
Sounds good, but lets discuss it in detail on Monday.

[2022-05-15 10:23] JonathanStarup opened #3758 "Quality of life: useless expression errors should include types"
This program
[code]
Gives a redundancy error
![image](https://user-images.githubusercontent.com/32037926/168467960-f5785d73-8503-4c16-af32-0a1d253f5948.png)

The error here is that I forgot to fully apply the function. In the full example where this happened I used some regions so I thought that the errors related to regions. Reporting the type of the expression would have helped me to spot the un

[2022-05-15 10:56] #3748 closed

[2022-05-15 11:21] JonathanStarup commented on #3758
An additional comment: We could think about making tests for this kind of usability. This would avoid regression in the quality of the errors (at least type vs effect etc)

[2022-05-15 17:36] jaschdoc commented on #3750
Affirmative. It does **not** crash anymore

[2022-05-15 17:36] #3750 closed

[2022-05-15 17:37] jaschdoc commented on #3749
Affirmative. It does **not** crash anymore

[2022-05-15 17:37] #3749 closed

[2022-05-15 17:40] jaschdoc commented on #3695
Maybe we could give the functions with `!` a more appropriate name like `Array.reverseInPlace` or `Array.replaceInArray` or something else.

[2022-05-15 17:50] jaschdoc opened #3761 "Add `_.toMutDeque`"
There is currently no way of converting any data structure to a `MutDeque` without doing it manually.

[2022-05-15 17:51] jaschdoc commented on #3609
See #3752

[2022-05-16 09:00] mlutze opened #3764 "Add AE support to Resolver"
Preparation:
- [x] Rename effects to purity. (e.g. `eff -> pur`).

Constructs:
- [x] Introduce `Effect` declaration.
- [x] Introduce `Op` declaration.
- [x] Introduce `Expression.Do`.
- [x] Introduce `Expression.Resume`.
- [x] Introduce `Expression.TryWith`.

Modified Constructs
- [x] Include effects on specs
- [x] Include effects on arrow types

Checks:
- [x] Cannot find effect
- [x] Cannot find

[2022-05-16 10:03] mlutze opened #3766 "Purity should go before effects in ASTs"
I am merging this, but I think purity should go before effects. Will you create a separate PR?

_Originally posted by @magnus-madsen in https://github.com/flix/flix/issues/3730#issuecomment-1127467458_

[2022-05-16 12:57] ninaandrup commented on #3712
Other namespaces with `indexOf` functions returning `-1`

- `Chain`
- `Nec`

[2022-05-16 14:03] magnus-madsen opened #3770 "Bug in compilation to semi-naive evaluation"
The following program:

[code]

Produces the result:

[code]

with the full minimal model:

[code]

But this is incorrect because if we have `A(w, 2)` and `Lw; Set#{x, y}` then we should be able to conclude `Win(w)`.

The RAM is:

[code]

but I suspect using `ΔL` is incorrect, because `ΔL` is probably not the `lub` of the values, but only new deltas (which is incorrect).

[2022-05-16 14:07] jaschdoc commented on #3363
What do we do with the `Newable` instance? We could of course just return an array of a fixed size, say 8, but does it really make sense to talk about a `new ScopedArray(r)`?

[2022-05-16 14:08] JonathanStarup opened #3771 "Roadmap to disallowing non-unit expressions in statements and adding discard"
* [x] Add the discard keyword #3673.
    * [x] Use the discard keyword #3984.
* [x] Make channel retrieval return unit #3683.
    * [x] Simplify parser to disallow chained <- operations #4093.
* [x] Make channel operations return unit in the new standard lib implementation #3775.
    * [x] #3880
* Remove non-unit statement expressions in standard library.
    * [x] #3877
    * [x] #3879
    * [x]

[2022-05-16 14:09] JonathanStarup commented on #3771
@magnus-madsen I think this should capture all of the discussion around the topic and lay out the steps needed

[2022-05-16 14:17] magnus-madsen commented on #3770
A potential fix is in https://github.com/flix/flix/pull/3773 but I am not sure if it is the right approach.

[2022-05-16 14:18] magnus-madsen commented on #3770
@bdahse I am sure you are probably busy with other things, but if you have the time, I could use your expertise to understand if the fix is correct.

I think the overall issue can be summarized as: When we re-evaluate a rule under semi-naive evaluation, with lattice values, we should ensure that the rule uses not the delta, but the lub of the old and new values.

[2022-05-16 20:09] magnus-madsen opened #3776 "Add `Map.explode`"
Add a function `explode` to `Map` (and DelayMap and MutMap) with the signature:

[code]

For example:

[code]

- [ ] Find an appropriate place somewhere in `Map.flix` to place the function.
- [ ] Implement the function. Probably with a few folds.
- [ ] Add a bunch of tests.

Edit: We need this function to impress Jaco :)

[2022-05-16 20:11] #3766 closed

[2022-05-16 20:15] magnus-madsen opened #3777 "Add MultiMap?"

[2022-05-16 20:28] #3610 closed

[2022-05-16 20:44] #3609 closed

[2022-05-16 21:06] magnus-madsen commented on #3363
I don't think refs and arrays will have newable instances.

[2022-05-17 10:21] #3542 closed

[2022-05-17 10:23] #3543 closed

[2022-05-17 12:05] #3690 closed

[2022-05-17 17:12] stephentetley commented on #3777
Do you mean like this?

https://hackage.haskell.org/package/multi-containers

I'm on holiday tomorrow so I'll see how much I can do in a day.

[2022-05-17 17:17] magnus-madsen commented on #3777
Yes, I think so :)

[2022-05-17 17:17] magnus-madsen commented on #3777
Cool! But remember to take some holiday too :)

[2022-05-18 10:57] mlutze opened #3789 "`use` namespace"
I'd like to be able to `use` a namespace so that I can have qualified definitions without having to use the fully qualified name.

[code]

I hoping this would help solve the annoying problem of needing to import signatures even though you've already imported the class:
[code]

[2022-05-18 19:59] magnus-madsen commented on #3752
Are we done with this, or not yet?

[2022-05-18 20:00] jaschdoc commented on #3752
No :smile:

[2022-05-18 21:03] stephentetley commented on #3777
I've made two multimaps - one `Map[k, Bag[v]]` and one `Map[k, Set[v]]` , as we don't have a Bag type the first one uses a `Nec` internally for the Bag.

There are forty something functions in the APIs of both with tests for about half of the BagMultiMap. Not bad day's work.

Temporarily here until they are ready to put in a PR:

https://github.com/stephentetley/flix-sandbox/tree/master/src/FlixSa

[2022-05-18 21:09] magnus-madsen commented on #3777
That sounds amazing! 👍

[2022-05-19 08:59] magnus-madsen commented on #3770
Keep this open until the solution is better understood.

[2022-05-19 09:00] magnus-madsen opened #3793 "LSP: Minimize on hover"

[2022-05-19 11:08] magnus-madsen opened #3796 "Add lattice for `Option`"
The None element would be the bottom.

[2022-05-19 11:10] magnus-madsen opened #3797 "Add back `MutSet.singleton`, `MutMap.singleton` etc."
These should take an argument `x` and a region `r`.

The functions should occur right after the `new`/`empty` functions.

[2022-05-19 11:11] magnus-madsen opened #3798 "All `forall`, `exists`, etc. should be effect polymorphic"
@ninaandrup Take a look at api.flix.dev and come up with a list of functions like `forall`, etc. that are not effect polymorphic, but should be. (Pretty much all functions should be effect polymorphic going forward).

[2022-05-19 11:13] #3793 closed

[2022-05-19 11:31] #3796 closed

[2022-05-19 18:31] jaschdoc opened #3800 "Refactor `join`, `joinWith` tests"
The tests are currently impure due to StringBuilder previously being impure but should take a region now. Tests exist on most data structures in the library.

[2022-05-19 18:50] jaschdoc opened #3801 "Wrong type error? Region escapes when used locally"
[code]

[2022-05-19 19:13] magnus-madsen commented on #3801
@mlutze I think `r` gets instantiated with `r1` which should not really happen. This suggests that getSubstFromParams might even be necessary for correctness.

[2022-05-20 14:45] #3682 closed

[2022-05-21 15:30] #3797 closed

[2022-05-22 07:10] ninaandrup commented on #3144
I think the only thing left is the last one with `TestExamples`. Should I go through the files in `examples` and make sure there is no dublicate code or what do you mean?

[2022-05-22 07:14] magnus-madsen commented on #3144
But you already managed to delete `FlixTest` right? So I think then maybe we are done?

[2022-05-22 07:17] magnus-madsen commented on #3144
I think we are done!

[2022-05-22 07:17] #3144 closed

[2022-05-22 07:25] ninaandrup commented on #3743
It should be like the `foldMap` from `Foldable`, right?
[code]

[2022-05-22 07:58] magnus-madsen commented on #3743
Yes, just "specialized" to the specific collection.

[2022-05-22 16:02] magnus-madsen commented on #3800
@ninaandrup I think this could be an easy introduction to using regions. Basically every test need to be wrapped in a `region r { .. }`. See e.g. the tests for Array or MutList.

[2022-05-22 16:29] #3568 closed

[2022-05-22 16:30] magnus-madsen commented on #3545
If you can outline what you have in mind, we can get one of the student programmers to do it.

[2022-05-22 16:32] magnus-madsen commented on #3712
Done?

[2022-05-22 16:36] magnus-madsen commented on #3752
@ninaandrup Could you work your way through `String.flix` to use regions with string builder.

For example,

[code]

should become something like

[code]

(indentation may be broken)

[2022-05-22 17:08] magnus-madsen commented on #3589
Maybe this?:

[code]

[2022-05-22 17:09] magnus-madsen commented on #3590
I think this can be undertaken.

[2022-05-22 19:32] jaschdoc opened #3811 "Compiler crashes on `Array.flatten` refactor"
The following program crashes the compiler during unification.

[code]
**Error**
[code]

Compiler built from commit e2df900d6896132b111f0edcc3598b502e26c1ac

[2022-05-23 12:00] ninaandrup commented on #3712
Yes :-)

[2022-05-23 13:17] #3712 closed, assigned to ninaandrup

[2022-05-23 14:15] magnus-madsen opened #3818 "All `.sort` and `.sorthWith` functions should copy their data structure an array, sort it, and covert the array back"

[2022-05-23 15:20] magnus-madsen opened #3819 "Add FunctorFilter"
Add a new type class `FunctorFilter`:

[code]

- [ ] Add instances for all *immutable* collections. (Several collections already seem to have a `filterMap` function).
- [ ] Add test cases.
- [ ] (Optional) add laws.

`Functor`, `FunctorFilter`, and `Monad` will be key ingredients for our upcoming monadic-do.

[2022-05-23 15:25] magnus-madsen opened #3820 "Investigate for and while loops as syntactic sugar"
We should investigate adding syntactic sugar for two types of for-loops: An imperative-style loop and a monadic style-loop.

# Tasks
- [x] #3950
- [x] #3951

# Imperative Style

Add something like:

[code]

where `exp` must conform to `ForEach`.

which can be generalized to:

[code]

# Monadic Style

[code]

where `exp` must conform to `FunctorFilter` or maybe `MonadFilter`?

# Open Questions:

-

[2022-05-23 18:35] esdnm opened #3821 "Readme: please replace the image of Example Flix Program with <pre> text"

[2022-05-23 19:35] magnus-madsen commented on #3821
Thanks, we should do that.

Does markdown allow <pre>?

[2022-05-23 19:37] stephentetley commented on #3777
I've made a PR

[2022-05-24 07:03] magnus-madsen opened #3823 "Array.swap! should be pub and subject-last"
Are there other functions like that?

[2022-05-24 08:29] mlutze commented on #3821
I think `<pre>` is equivalent to Markdown's ``` `code blocks` ```

[2022-05-24 16:47] #3800 closed

[2022-05-25 07:12] mlutze opened #3827 "Change `||>` signature"
Currently `||>` is useless:

[code]

Because anywhere we want to use `||>` we can just use `|>`

It would be better if the second parameter to `||>` were a curried function, so we could do e.g., `(1, 2) ||> Add.add`

[2022-05-26 02:58] bbstilson opened #3831 "Feature Request: List.filterNot"
Similar to [Scala](https://www.scala-lang.org/api/2.13.x/scala/collection/immutable/List.html#filterNot(p:A=%3EBoolean):List[A]), it would be nice to have a `filterNot` along with a `filter`.

For example, being able to remove empty elements from a list:

[code]

[2022-05-26 07:56] mlutze commented on #3831
Hi @bbstilson and welcome to the community!

I'll note that your example is possible without too much pain using the function composition operator:

[code]

But your `filterNot` example is a bit more legible and fluent, so I agree it is worth considering.

[2022-05-26 09:24] mlutze opened #3832 "Unhacking region types"
Currently
* `Read(r)` and `Write(w)` are simply desugared into `r` and `w`
* `Region` kind is an alias for `Bool`

To properify the region types, we need to:
* Introduce a `RegionBool` type constructor
* Introduce a `RegionSym` symbol
* Introduce a `Region(RegionSym)` type constructor
* Update boolean unification to handle these types
* Use these instead of rigid variables and desugaring magic

[2022-05-26 15:32] ninaandrup commented on #3743
I have done:

- `Array` *
- `Chain` *
- `DelayList` *
- `Iterator` *
- `List`
- `MutDeque` *
- `Set`

*not merged

I need to do:

- [ ] `MutList`
- [ ] `MutSet`
- [ ] `Nec`
- [ ] `Nel`

Am I missing any?
Then there is `foldMapWithKey` for `Map`

[2022-05-26 16:26] jaschdoc opened #3836 "Compiler crashes on `Array.intercalate`"
The following program crashes with the following error.
[code]
**Error**
[code]
Compiler built from 2a8a0a239e9958b320adf5790244d3e71edebec8

[2022-05-26 16:32] jaschdoc commented on #3836
Perhaps somewhat more informative:
[code]
**Error**
[code]
Same compiler

[2022-05-26 16:34] jaschdoc commented on #3836
Also happens with regions:
[code]

[2022-05-26 16:55] jaschdoc opened #3837 "Compiler crashes on `Array.flatten` during unification"
The following program crashes with the following error.
[code]
**Error**
[code]
Compiler built from 2a8a0a239e9958b320adf5790244d3e71edebec8

[2022-05-26 17:06] jaschdoc commented on #3837
Duplicate oops, see #3811

[2022-05-26 17:06] #3837 closed

[2022-05-26 17:07] jaschdoc commented on #3363
I think I've progressed as far as possible until #3836, #3811 and #3801 are closed.

[2022-05-26 17:18] jaschdoc commented on #3404
I've added a single test in the related PR, but what specifically do you think we should test for the `new` expression?

[2022-05-26 17:21] jaschdoc opened #3839 "Compiler crashes on tests for `new`"
See #3838

The program below crashes with the following error during the compiler test suite.

[code]
**Error**
[code]

[2022-05-26 19:50] magnus-madsen commented on #3363
Very cool!

What use of non-region arrays remain then?

[2022-05-26 19:51] #3827 closed, assigned to ninaandrup

[2022-05-27 00:23] soc opened #3840 "Playground does not compile"
1. Click on the Playground link on the website.
2. Click on "Compile & Run".
3. Fails with:

[code]

[2022-05-27 07:46] magnus-madsen commented on #3840
Ah, this is because you have an "old" program stored in your local cache!

[2022-05-27 07:46] magnus-madsen commented on #3840
(The playground remembers your last program-- which may just have been an example -- but we recently changed the syntax of main)

[2022-05-27 07:53] magnus-madsen opened #3841 "Collect a list of functions that do not yet use regions"
Collect a list of functions that do not yet use regions, either because they were overlooked or because they currently crash the compiler. Include the ticket when relevant.

[2022-05-27 07:55] magnus-madsen commented on #3841
@jaschdoc If you could start compiling such a list that would be useful :)

[2022-05-27 07:59] magnus-madsen commented on #3590
@jaschdoc I would like you to work on this soon :)

[2022-05-27 08:03] soc commented on #3840
Hey @magnus-madsen, I'm pretty sure it's the default program. I tested it again with a private browser tab and got the same results:

![flix-error](https://user-images.githubusercontent.com/42493/170657907-22bfdaf5-32c1-4067-a446-f929ca57b446.png)

[2022-05-27 08:04] magnus-madsen commented on #3840
Hmmm

[2022-05-27 08:06] magnus-madsen commented on #3404
Just trivial stuff. Basically:

[code]

then add 3 tests for each collection, and tests for our mutable collections. Something like this.

[2022-05-27 08:06] magnus-madsen commented on #3404
There is nothing deep. Its just to have tests if we change things.

(Yes, you could argue that we already test new elsewhere, but that is common).

[2022-05-27 08:08] magnus-madsen commented on #3840
I redeployed. Is it better now?

[2022-05-27 08:26] soc commented on #3840
That fixed it, thanks!

[2022-05-27 08:37] mlutze opened #3842 "Shadowing check for regions"
Shadowing here, but no error.

[code]

[2022-05-27 08:40] soc opened #3843 "List.memberOf returns incorrect results for NaN"
def main(): Unit & Impure =
     // prints `false`, should print `true`
    List.memberOf(0.0/0.0, (0.0/0.0) :: Nil) |> println

The root cause is that, despite `Eq` being declared a lawful typeclass with reflexivity/transitivity laws, the `Eq` instance for floats does not use the correct comparison operation.

It uses an operation similar or equal to the one described in IEEE754 §5.11, but for re

[2022-05-27 08:41] mlutze commented on #3842
Looks like it's due to a typo in the Redundancy phase (chalk another one up for the unused variable error)

[2022-05-27 08:48] magnus-madsen commented on #3840
Yay! Thanks for reporting it and have fun programming with Flix! Let us know if you run into other troubles.

[2022-05-27 08:49] magnus-madsen commented on #3843
Agreed. This revives our discussion of whether to have PartialEq and Eq.

[2022-05-27 08:53] soc commented on #3843
I'd guess it's largely a solved problem these days.

I think going the `Eq`/`Id` / `Equals`/`Identity` route is helpful to get the mental model right for readers (i. e. that there is no subtyping relationship between those two).

[2022-05-27 08:58] soc commented on #3840
Already on it. ;-)

[2022-05-27 09:13] magnus-madsen commented on #3843
Could you expand on that or do you have a reference?

[2022-05-27 09:26] soc commented on #3843
Sure!

The core insight is that `PartialEq`/`Eq` usually implies some form of sub-typing relationship with the expectation that the partial versions are "law-reduced", but *have compatible semantics*. For floating points, this is not the case and it's intentionally designed this way.

So what I usually do is to cleanly separate a notion of equality that is domain-specific (defined by the type itse

[2022-05-27 09:27] jaschdoc commented on #3590
Could you add a high priority label? :)

[2022-05-27 09:28] jaschdoc commented on #3363
In the entire library or just in `Array`?

[2022-05-27 09:29] magnus-madsen commented on #3843
Interesting. We should take a closer look.

Quick question: Which equality is then used for e.g. a Set?

[2022-05-27 09:29] magnus-madsen commented on #3590
Marking things high-priority is my middle name :D

[2022-05-27 09:30] magnus-madsen commented on #3363
Everywhere

[2022-05-27 09:33] soc commented on #3843
Depends on the intended use-case.

In the past I provided a `contains[T : Identity & Equality]` and a more primitive `has[T : Identity]` function.

[2022-05-27 09:37] magnus-madsen commented on #3843
@mlutze @JonathanStarup We should discuss this at some point.

[2022-05-27 09:41] magnus-madsen commented on #3601
I have made a few decisions.

These are not set in stone, but I want to move the code in that direction. We can revisit if needed.

1. The global region will be named `Static` with upper case S.

2. All `toXYZ` functions (for mutable data structures) will take a region parameter.

3. Undecided.

4. Undecided.

5. No.

6. We keep the current naming. We still have to distinguish between `Array.rever

[2022-05-27 09:45] magnus-madsen opened #3844 "Rename `static` region to `Static`"
Rename `static` region to `Static`.

1. Add `type alias Static = false` to Prelude.flix
2. Refactor the standard library to use `Static` instead of `static`.
3. Refactor the compiler to remove special treatment of `static`.

To make (2) easier, open `Weeder.scala` and change line 2683 to print `ident.loc` and throw an exception.

This will make it easy to track down all uses of the old `static`.

[2022-05-27 09:49] magnus-madsen commented on #3695
We cant do it

[2022-05-27 09:49] #3695 closed

[2022-05-27 09:51] magnus-madsen opened #3845 "Ensure that all `toXYZ` functions take a region parameter"
Ensure that all `toXYZ` functions take a region parameter unless its to an immutable collection. (E.g. toMutSet needs a region param, toList does not).

@ninaandrup Can you compile such a list?

it is possible it is already the case, I just want to check.

[2022-05-27 09:54] soc commented on #3843
In terms of code (excuse my Flix-like pseudo-code), the design looks somewhat like that:

[code]

with instances as expected:

[code]

[2022-05-27 10:03] magnus-madsen commented on #2999
@ninaandrup

This is still a huge "construction site", but I would like you to make the following refactoring (moving us in a more reasonable direction):

Given a function like:

[code]

change it to:

[code]

Note that this gives you access to `Foldable.foreach` which you can use to just call `add!` on each element.

Makes sense?

Can you do that for all the functions in this ticket? (and other r

[2022-05-28 12:41] magnus-madsen commented on #3489
What's the status on this?

[2022-05-28 12:50] magnus-madsen commented on #3086
I need the syntax `enum Bar(Int32)` for a paper.

@mlutze Want to take a swing? You don't have to remove the opaque stuff.

[2022-05-29 07:10] ninaandrup commented on #3743
@magnus-madsen I think this can be closed, if I did not miss any collections in the list above

[2022-05-29 07:12] ninaandrup commented on #3694
@magnus-madsen I think this can be closed

[2022-05-29 07:30] ninaandrup commented on #3823
Should I look through `Array` for other functions? Or the whole library?

[2022-05-29 07:35] ninaandrup commented on #3845
All the `toMut*` functions take a region parameter as well as `toArray` functions. This is all the mutable collections, right?

[2022-05-29 08:31] #3694 closed

[2022-05-29 08:31] #3743 closed

[2022-05-29 08:32] #3845 closed

[2022-05-29 08:32] magnus-madsen commented on #3823
I think only array has a swap.

[2022-05-29 08:50] magnus-madsen commented on #3086
We are removing this:

[code]

in favor of this:

[code]

@ninaandrup can you go through the standard library and make these changes? (I think a search for either `enum` or `opaque` should suffice).

[2022-05-29 08:51] magnus-madsen commented on #3086
Once completed, Matt can remove opaquetype from the compiler :)

[2022-05-29 09:39] mlutze opened #3851 "Improve derivable instance error message"
[code]

Cases (a) and (b) look the same to someone reading quickly. There's probably something easy we can do to distinguish them better.

[2022-05-29 09:44] magnus-madsen commented on #3851
![image](https://user-images.githubusercontent.com/2287953/170861899-f8ebc0e7-7a92-4eab-89d4-20a1aa83596d.png)

[2022-05-29 09:49] paulbutcher commented on #3851
How about something along these lines?:

[code]

[2022-05-29 12:23] jaschdoc commented on #3844
I think the solution you've outlined above clashes with the current way we use regions. `static` is afaik an alias for `() as & Impure`. The new definition would be compatible with type level use i.e. `Array[a, Static]` but when used as a term the types of course don't match. Type casting`false` also doesn't work as it throws a parse error.

[2022-05-29 12:35] magnus-madsen commented on #3844
I don't understand :/

But you could try by starting to change it here: https://github.com/flix/flix/blob/master/main/src/ca/uwaterloo/flix/language/phase/Weeder.scala#L2692

[2022-05-29 16:33] battisti opened #3855 "Self contained jar file does not contain ca.uwaterloo.flix.runtime.interpreter.Channel"
Running the following program via `java -jar ./flix.jar run` shows "Meow!" as expected.

[code]

Running it by creating a self contained jar file via:

[code]

Results in a `java.lang.ClassNotFoundException`:

[code]

[2022-05-29 16:36] battisti commented on #3855
If relevant my computer is an `Apple M1 Max` and the JVM is:

[code]

[2022-05-29 16:56] magnus-madsen commented on #3855
This should work:

[code]

Assuming `Main.flix` is in `src` and contains the above program.

(Note here my project is called `flix2`. Your project name may vary. Note also that the `flix2.jar` must come before the `flix.jar` in the class path).

[2022-05-29 17:14] battisti commented on #3855
Yes thanks that works! For posterity in case something runs into problem using Linux or macOS (assuming the project name is example) the shell command looks like that (i.e. ':' instead of ';'):

`example>  java -classpath "example.jar:flix.jar" Main`

[2022-05-29 17:19] magnus-madsen commented on #3855
This problem will eventually go away, once we transition to Concurrency 2.0

[2022-05-30 10:58] magnus-madsen commented on #3590
Done?

[2022-05-30 13:06] paulbutcher opened #3856 "--explain command line argument has no effect"
`--explain` should print a more detailed explanation of error messages, but has no effect.

[2022-05-30 14:09] #3590 closed

[2022-05-30 15:55] #3856 closed

[2022-05-30 17:20] #3851 closed

[2022-05-30 18:28] mlutze opened #3861 "Parametric type classes for `Iterable` (and more)"
By popular demand, I'm bringing back the MPTC suggestion (but calling it differently), with a specific target of `Iterable`.

The issue we are having with `Iterable` is that we are not sure how to create a common signature for mutable values (which have regions) and immutable values (lacking regions). The basic problem is that e.g., `List` does not have a region parameter; it is implicitly in some

[2022-05-31 06:13] magnus-madsen commented on #3086
Once #3858 is merged in:

@mlutze Will you remove `opaque` from the compiler?

@ninaandrup Will you:

Remove:
  examples/opaque-types.flix (from flix/flix and flix/flix.dev)

Rename:
  Test.Dec.OpaqueType.flix -> Test.Dec.Enum.Singleton.flix

[2022-05-31 06:13] magnus-madsen commented on #3086
@stephentetley Heads-up: We are about to replace the opaque enum syntax with just `enum Foo(String)`.

[2022-05-31 07:22] mlutze commented on #3086
Looks like there are still a few uses of `opaque type` in the tests: https://github.com/flix/flix/runs/6665781109?check_suite_focus=tru

[2022-05-31 20:26] magnus-madsen commented on #3593
I think we can start on this even though https://github.com/flix/flix/issues/3363 and https://github.com/flix/flix/issues/3589 are not 100%

[2022-06-01 07:35] magnus-madsen commented on #3861
https://doc.rust-lang.org/reference/trait-bounds.html

[2022-06-01 14:32] ninaandrup commented on #3086
I had accidentally turned on file mask for `.flix` in IntelliJ. #3867 should fix it :-)

[2022-06-01 14:45] ninaandrup commented on #3798
I found:

- `List.count`
- `List.toMapWith`
- `List.sortBy`
- `List.distinctWith`

[2022-06-01 15:07] paulbutcher opened #3868 "No diagnostics on missing jar"
See the following (incorrect) Flix project:

https://github.com/paulbutcher/flix-vscode-issue

When I open it within VSCode, I get no "run" line on `main` and no errors:

[code]

[code]

Building from the command line, however, gives:

[code]

[2022-06-01 17:38] magnus-madsen commented on #3823
I dont think there are other swaps, but a quick search in path can never hurt :)

[2022-06-02 18:01] jaschdoc commented on #3412
**Program**
[code]
**Error**
[code]

[2022-06-02 18:35] jaschdoc commented on #3841
# WIP

| Namespace / File | Function                      | Ticket? |
| `Array`          | `indices`                     |         |
| `Array`          | `flatMap`                     |         |
| `Array`          | `intercalate`                 |         |
| `Benchmark`      | `runWithBudget`               |         |
| `Benchmark`      | `warmupAndEstimate`           |         |
| `Benchmark`

[2022-06-03 11:48] JonathanStarup commented on #3664
I think this issue is partially solved by #3694 and superseded by #3771

[2022-06-03 12:06] JonathanStarup opened #3878 "Add `foreach` to MultiMap"
and use it for `ToString`. The `foldLeftWithKey` should be some kind of `foreach`.
[code]

[2022-06-03 13:08] JonathanStarup commented on #3777
@magnus-madsen this was closed by #3822

[2022-06-03 13:47] JonathanStarup opened #3883 "Remove return value of `Array.put`"
This should not return the subject since the builder pattern can be achieved by `!>`.

[2022-06-03 16:16] stephentetley commented on #3878
`MultiMap` should have a `foreach`, but for `toString` I'd delegate to `Map.foreach` so the values are shown in a `Set` for compactness (which preserves the current behaviour):

[code]

Do you want me to make a PR including a `MultiMap.foreach` ? I think there's also some debug left in `TestMultiMap.flix` that needs removing.

[2022-06-03 18:40] magnus-madsen commented on #3878
@stephentetley You can make the PR, thanks :)

[2022-06-03 18:40] #3777 closed

[2022-06-03 18:45] magnus-madsen opened #3886 "Static should be a special region (rigid variable)"

[2022-06-03 18:59] magnus-madsen opened #3887 "Refactor benchmarks to use arrays with regions"

[2022-06-03 19:10] #3844 closed

[2022-06-03 19:49] magnus-madsen commented on #3086
@ninaandrup Will you update flix.dev and doc.flix.dev as necessary? Thanks!

[2022-06-03 20:37] #3664 closed

[2022-06-03 21:22] magnus-madsen opened #3888 "Interoperability: Add an expression that allows the (anon.) implementation of a Java interface/class extension"
# Overall Goal: Add new anonymous class/object expression

For example:

[code]

which will generate a new class called say `Anon$1` which implements the `Iterator` interface and has two methods `hasNext` and `next`. The `object` expression is a Java value of type `##java.lang.Iterator`. (We ignore generics for now-- they are erased anyway.)

I propose to work towards this goal through several mil

[2022-06-03 21:25] stephentetley commented on #3878
`MultiMap.foreach` added in PR #3889 feat: add MultiMap foreach (issue #3878)

[2022-06-04 07:34] #3776 closed

[2022-06-04 09:16] #3878 closed

[2022-06-04 09:35] JonathanStarup commented on #1724
@magnus-madsen maybe this should be updated and then we can close #2169 - the only things missing are concurrency things listed here (except channel lowering).

[2022-06-04 14:20] #3868 closed

[2022-06-05 07:01] magnus-madsen commented on #1580
@ninaandrup Can you go through all our `ToString` implementations in the standard library and ensure that they use `StringBuilder`?

[2022-06-05 07:32] #3883 closed

[2022-06-05 07:32] ninaandrup commented on #1580
Implementations of `ToString` not using `StringBuilder`

- [ ] `Map`
- [ ] `Nel`
- [ ] `Set`

`toString` functions not using `StringBuilder`

- [ ] `Array`

[2022-06-05 07:33] ninaandrup commented on #1580
Should I refactor them to use `StringBuilder`?

[2022-06-05 09:31] ninaandrup commented on #1234
`String.capitalize` would be easy to do as [underscore does it](https://github.com/esamattis/underscore.string/blob/master/capitalize.js)
[code]
Using the `toUpperCase` on the first character, and then concatenating with the rest of the string without this first character.

[2022-06-05 10:36] magnus-madsen commented on #1234
But it should also uppercase subsequent words right?

[2022-06-05 13:39] magnus-madsen opened #3894 "Resolve the `r: Region[r]` confusion"

[2022-06-05 13:39] magnus-madsen opened #3895 "Resolve the `a: Array[a]` confusion"

[2022-06-05 13:40] magnus-madsen opened #3896 "Refactor Datalog solver to use regions"
We should refactor the Datalog engine to use regions (while collecting information about the refactoring for the case study).

I propose the following approach:

- [ ] Declare a new region in `solveWithStratification` (I think that's the entry point, right?)
- [ ] Add a `r: Region[r]` parameter to every function in `Fixpoint` which appears to need such an argument. (Need to discuss if it should be

[2022-06-05 20:54] magnus-madsen commented on #3820
Use https://github.com/paulbutcher/chess-flix/blob/master/src/Main.flix to ensure we have what we want.

[2022-06-06 07:37] #3764 closed

[2022-06-06 08:26] mlutze opened #3897 "Add Kinder support for AE"

[2022-06-06 08:26] #3744 closed

[2022-06-06 08:53] magnus-madsen opened #3899 "Add `ForEach` type class"
Add a type class:

[code]

- [ ] Add the above type class.
- [ ] Make `Foldable` extend `ForEach`.
- [ ] Add instances for all immutable data structures and add tests.

(This type class will be used as the basis for our imperative for loop).

[2022-06-06 08:53] magnus-madsen commented on #3899
@ninaandrup Let me know if you have questions :)

[2022-06-06 10:18] mlutze opened #3901 "Sort errors by location"
Errors come out in an unorganized list. It would be nice to sort them by file and line.

[2022-06-06 13:07] ninaandrup commented on #3798
Do we want to discuss other functions, or should this be closed?

[2022-06-06 15:52] ninaandrup commented on #1234
So doing something like checking for spaces using `String.indices` first maybe, and then making every following character of a space uppercase?

[2022-06-06 17:52] magnus-madsen commented on #1234
I think we should find a reference implementation somewhere that we can be inspired by :)

[2022-06-06 17:57] #3798 closed

[2022-06-06 17:58] magnus-madsen commented on #1580
Yep, thanks!

[2022-06-06 18:02] #3086 closed

[2022-06-06 18:02] magnus-madsen commented on #3761
Done?

[2022-06-06 18:05] magnus-madsen commented on #3697
@ninaandrup Can you add an **impure** function `Array.shuffle` that shuffles an `Array[a]`.

Then, we should add `shuffle` impure functions to the various namespaces that essentially do `x |> toArray |> shuffle |> toX`.

[2022-06-06 18:11] magnus-madsen commented on #3841
@jaschdoc Once #3876 is merged, could you teach @ninaandrup how to refactor `Benchmark.flix` to use regions (1st PR) and then subsequently refactor the benchmarks (2nd pr)?

[2022-06-06 18:12] magnus-madsen commented on #3841
The `File` namespace has to be impure, so they can be removed from your list.

[2022-06-06 18:13] magnus-madsen commented on #3841
For `String` I think you should see if they can be refactored. For `Array` we know these functions are broken (crash the compiler), but try to see if you can make it work by introducing top-level helper functions. That might help compared to local defs.

[2022-06-06 18:14] #3600 closed

[2022-06-06 18:15] magnus-madsen commented on #3514
@nicdard Did we already do this? I seem to remember, but maybe I am wrong.

[2022-06-06 18:20] #3616 closed

[2022-06-06 18:23] magnus-madsen opened #3906 "Add `Graph` namespace"
TBD

Define an API for a `Graph` namespace backed by Datalog:

[code]

In the above examples I have used `List` and `String` but really this should work for any `m[t]` and `t`.

The distance functions probably require some more explanation, but the TLDR is that they require a lattice and a sum function. Maybe this requires a type class too, like:

[code]

Ideas:
- SCC?

We should use `m[(t, t)] wi

[2022-06-06 18:33] magnus-madsen commented on #3589
@jaschdoc

Ignoring the type class stuff, do you think we can refactor Iterator to use a region (or are things still too broken)?

[2022-06-06 20:49] paulbutcher commented on #3820
My immediate thought is that we should be able to pretty much lift exactly what Scala does verbatim? This is the best explanation of Scala's behaviour I'm aware of:

https://stackoverflow.com/questions/1052476/what-is-scalas-yield/1059501#1059501

It supports both imperative and monadic styles through very simple rewriting rules. I can't immediately see any reason why they (the Scala 2.7 version w

[2022-06-06 21:26] stephentetley opened #3907 "Lattice instances for collection types?"
Are we able to use set operations as common strategy to design the lattice methods of collection types - at least where the collection naturally supports set operations.

The instances would be:

LowerBound.minValue ~ empty
PartialOrder.lessEqual ~ isSubset
JoinLattice.leastUpperBound ~ union
MeetLattice.greatestLowerBound ~ intersection

My understanding is that the Bloom language used this strat

[2022-06-06 21:40] paulbutcher commented on #3820
The chess code referenced above would look like this:

[code]

and would desugar to:

[code]

[2022-06-06 22:04] paulbutcher commented on #3820
As the underscores show in the above, there will need to be something in there to handle unused variables. This is also an issue for Scala:

https://github.com/scala/bug/issues/10287

[2022-06-07 06:47] #3529 closed

[2022-06-07 07:01] #3901 closed

[2022-06-07 07:07] magnus-madsen commented on #3907
Yes.. We can probably do this. Where do you need it?

Using Map lattices in Datalog would be possible, but forego the performance of relations which are optimized by semi-naive evaluation.

I guess my question boils down to: What's the use case? (and would Datalog w/ relations/lattices not be better?)

[2022-06-07 07:09] magnus-madsen commented on #3907
What I mean is that Flix already supports lattice predicates, e.g.:

[code]

Here `L` is effectively a map lattice.

[2022-06-07 07:16] magnus-madsen commented on #3820
That's exactly right and what we would do. The questions are:

- Where does `filter`, `map`, and `flatMap` come from?
- How do we deal with regions / effects.

For (1), presumably we don't want to import these three functions from various namespaces. Instead, we probably want to use the some type class. But which? `map` belongs to `Functor`, `flatMap` to `Monad` (which extends `Functor`). There is

[2022-06-07 07:19] magnus-madsen commented on #3820
(Note: `Set` has map and flatMap, but it is slightly dubious if it should.)

[2022-06-07 07:19] magnus-madsen commented on #3820
Another option is to come up with some Iterable/Iterator abstraction, which has also been discussed in other tickets, but there we are also a bit stuck.

[2022-06-07 07:20] magnus-madsen commented on #3820
TLDR: We need to think more, come up with a concrete proposal, and then hash it out :)

[2022-06-07 07:40] JonathanStarup commented on #3697
It's important here what range j is from. I remembered this and selected any j which gave biased results. I just wanted to note that it's easy to make the wrong choice if you don't look at reference material.

[2022-06-07 07:43] JonathanStarup commented on #3899
Why is foreach not a function on Foldable? What types are `ForEach` and not `Foldable`?

[2022-06-07 10:58] mlutze commented on #3836
This all comes down to the underscores in the type ascriptions.

Since we have incomplete kind inference, we guess that these have `Wild` kind. That's a problem for unification later since we check whether both variables have `Bool` kind before entering Boolean unification.

I conjecture that we can address this by updating the kind when we unify. For example, `unify(t1: K, t2: Wild)` calls `unify

[2022-06-07 12:50] mlutze commented on #3888
How about `object` for the keyword? Too confusing wrt Scala?

[2022-06-07 13:59] magnus-madsen commented on #3888
Could work.

[2022-06-07 14:41] magnus-madsen commented on #3839
@jaschdoc According to Matt this means we should now be able to progress with the `new` tests.

I don't expect to many (maybe just 20 tests) -- just so we have something ensure that it works as expected.

[2022-06-07 15:20] ninaandrup commented on #3761
Is there any data structure that would be nice to have a `toMutDeque` on, that I have not made yet?

[2022-06-07 16:13] stephentetley commented on #3907
Thanks Magnus - I don't have a specific use-case, I was working towards adding lattice instances for MultiMap and Map didn't have any.

If we should be using lattice predicates rather than a Map in the lattice position I'll decline from proposing that we add the Map instances.

Should MultiMap have lattice instances?

[2022-06-07 18:04] magnus-madsen commented on #3899
Good point. I don't have a strong answer.

Only that Foldable requires `foldLeft, `foldRight`, and `foldRightWithCont` which seems like a strong requirement than `ForEach`.

There is also this idea of having `Iterable` and `Iterators`. Its a bit of a mess.

I wanted to add `ForEach` so we could use it as a basis for a `for` without requiring a full `Foldable`.

[2022-06-07 18:05] magnus-madsen commented on #3907
We can add the instances; it sound and fine to have them, but in practice I would hope they are rarely used.

[2022-06-07 18:06] magnus-madsen commented on #3761
All of them? :)

[2022-06-07 18:19] magnus-madsen commented on #3906
@JonathanStarup @mlutze @stephentetley @jaschdoc @ninaandrup

Do you have ideas for additional functions that we would want?

Are any of you interested in implementing these functions (using Datalog of course)-- mostly addressed to Jakob and Nina.

[2022-06-07 18:34] ninaandrup commented on #3761
Then I'll keep working my way through the collections :-)

[2022-06-07 18:45] magnus-madsen commented on #3906
https://hackage.haskell.org/package/algebraic-graphs-0.6/docs/Algebra-Graph-Class.html
https://hackage.haskell.org/package/containers-0.6.5.1/docs/Data-Graph.html

[2022-06-07 18:50] stephentetley commented on #3907
Cool, I'll make a PR for the Map instances, then look at the MultiMap ones.

[2022-06-07 20:12] stephentetley commented on #3906
A `toDot` function to generate GraphViz files would be nice for small graphs. I thought I'd written one already but I can't find it.

Datalog versions of transitive closure and reachability are listed in this paper:

https://www.redaktion.tu-berlin.de/fileadmin/fg131/Publikation/Papers/datalog-to-flink_2020.pdf

[2022-06-07 20:15] stephentetley commented on #3906
BTW I've got a wrapper module over Java's `java.lang.Processs` that would be useful in the stdlib (after some polish), then we could launch programs like GraphViz's `dot` from Flix.

[2022-06-07 20:22] JonathanStarup commented on #3888
maybe implement, like `implement ##java.lang...`.

also, its only java classes here right? so maybe no ##

[2022-06-08 06:42] ninaandrup commented on #3899
What should I do for `Array` and `Iterator`?

`Array` has a clash in the `Type -> Bool -> Type`, because of regions.
And `Iterator` has a `foreach` function, but it is `Impure`

[2022-06-08 06:44] magnus-madsen commented on #3899
Skip em

[2022-06-08 07:59] mlutze commented on #3906
I guess we cannot actually get the path from datalog? But it would still be nice to have a shortest path function, and maybe some heuristic searches as well (A*, etc).

Topological sort would be handy as well.

[2022-06-08 16:20] jaschdoc commented on #3589
I'll take another look at it!

[2022-06-08 18:40] jaschdoc commented on #3741
Confirmed!

[2022-06-08 18:40] #3741 closed

[2022-06-08 18:45] jaschdoc commented on #3906
I think this would be fun to work on but I think I have tickets in my backlog that should be finished before I start something new so if Nina finds this interesting I think she should have it.

[2022-06-08 18:51] jaschdoc commented on #3895
Should we use `arr: Array[a]`? or `x: Array[a]`?

[2022-06-08 18:57] jaschdoc commented on #3589
Hmm so far I'm getting this weird bug which prevents me from progressing any further. Did I overlook something? Also, when prefixing `r` with and underscore i.e. `_r` as the error message suggests a name error occurs (undefined type variable `r`).
[code]
**Error**
[code]

[2022-06-08 18:59] jaschdoc commented on #3504
I think I may need help for this. I tried doing this a couple of months ago but without any success really. Maybe we should discuss in person or @mlutze can help me with this at some point?

[2022-06-08 19:12] jaschdoc commented on #3582
@magnus-madsen `Iterator` is a special case here since each function has to destructure the iterator on each recursive call. So which implementation do you prefer (with `foreach` as an example of directly recursive functions`)?
[code]
or
[code]

[2022-06-08 21:38] magnus-madsen commented on #3504
I think this can wait till the internship starts and then we should sit down and talk about it :)

[2022-06-08 22:09] mlutze commented on #3589
@jaschdoc #3916 should fix that issue

[2022-06-09 06:46] #3593 closed

[2022-06-09 17:07] jaschdoc commented on #3363
Should we rename this or close it? As of 2dbd2325c4bdf222254f75f1177671fb745921f4 we only have `ScopedArray`s. Should this issue maybe be renamed to something like "use regions in Array"?

[2022-06-09 18:00] jaschdoc commented on #3589
Does it make sense to have a `new` function for `Iterator`? It's always just empty and there is no way to push elements to an iterator so this would have absolutely no functionality.
[code]

[2022-06-09 18:02] jaschdoc commented on #3363
Yes, but just to avoid confusion, would it make sense to rename the issue then?

[2022-06-09 19:06] magnus-madsen commented on #3589
Surprisingly yes. We use it alot in the compiler as a base case. See eg the semantic tokens provider

[2022-06-09 19:44] magnus-madsen commented on #3363
I guess we have the other issue.

[2022-06-09 19:44] #3363 closed

[2022-06-09 20:15] stephentetley opened #3919 "Typing bug - trying to pass around a function with a Region Write(r) effect"
I think this is a bug in the type checker rather than my code - the commented out Impure cast version compiles:

[code]

Error msg:

[code]

The message seems to indicate that the effect `Write(r)` is not being picked at the call site even though I've gone as far as putting the cast in braces to avoid any chance of the it parsing with a precednce I wouldn't expect:

`Type Two: StringBuilder[r] ->

[2022-06-09 20:21] magnus-madsen commented on #3919
Seems like a bug. Digging around a bit. Meanwhile, you can do this ugly hack:

[code]

[2022-06-09 20:37] magnus-madsen opened #3920 "Drop VarText?"
Can we?

[2022-06-09 20:37] magnus-madsen opened #3921 "Remove expressions from annotations"
We shall remove support for annotations to refer to expressions.

[2022-06-09 20:38] magnus-madsen opened #3922 "Type variables _ and kinds"
TBD

[2022-06-09 20:40] magnus-madsen opened #3923 "Remove rigidity from TypeVarSym"

[2022-06-10 08:24] JonathanStarup opened #3925 "feature: better kind annotations"
In writing this class, kind inference did not work.
[code]
I would like:
* Write each kind once, instead of writing `Type` and `Bool` twice/thrice, I'd like to write `[a b: Type, ef1 ef2 ef3: Type]` or `[a, b: Type, ef1, ef2, ef3: Bool]`.
* Partial annotation could be nice, here `ef2` was the only one not correctly inferred

[2022-06-10 08:39] mlutze commented on #3925
An idea for doing this with formal parameters was rejected. But I think for type parameters it is different, because they are effectively a set rather than a list, so the grouping syntax works better.

(It looks like a bug if `ef2` could not be inferred though.)

[2022-06-10 10:39] JonathanStarup commented on #3925
Ill collect the inference issues in another issue then

[2022-06-10 10:48] JonathanStarup opened #3926 "Improve error message in let-match"
for a program like this:
[code]
where its easy to get confused about types, it is annoying when the error is actually in the pattern of the let. The error here is:
[code]

I would like it to be clearer that the error is in the pattern match and not the expression itself.

[2022-06-10 10:51] mlutze opened #3927 "VSCode: precompile stdlib"
Autocomplete doesn't work if your workspace starts out with errors, because it needs a TypedAst to generate suggestions. If we instead compile only the standard library on launch, then we get the majority of autocomplete even in a file with errors. With incremental compilation, this should not add much time to compilation, since we'll save the compiled stdlib.

[2022-06-10 11:18] JonathanStarup opened #3929 "Kind inference bugs"
## `ef2` inferred to type
[code]
## `ef2` inferred to type
[code]
## `ef3` inferred to type
[code]

[2022-06-10 12:47] #3919 closed

[2022-06-10 15:53] paulbutcher opened #3931 "Compiler crashes during solve"
The following program crashes the compiler:

[code]

with:

[code]

[2022-06-10 16:23] magnus-madsen commented on #3931
Indeed a bug. But the program also has a mistake, the project should be Path in singular.

[2022-06-10 16:53] paulbutcher commented on #3931
Indeed. Still something the compiler should handle gracefully though?

[2022-06-10 16:54] paulbutcher commented on #3931
(sorry - I should have indicated in the bug report that I knew it was an incorrect program)

[2022-06-10 17:28] magnus-madsen commented on #3931
Yes. The compiler should never crash.

[2022-06-12 09:34] magnus-madsen commented on #3896
We should also ask ourselves, is there any reason for the Ram AST to use arrays? Maybe we could just use a list.

Then we would only need a region for the actual database. I would probably suggest that.

But do take a look at the code.

[2022-06-12 11:37] magnus-madsen opened #3933 "June Meeting: Topics to Discuss"
- [x] Discuss `discard` expression.
- [x] Discuss regions and type classes (e.g. `Functor` and `Foldable`).
- [x] Status of `Iterable` and `Iterator`
- [ ] Discuss other region topics (implicit regions, region first or last, etc).
- [ ] Discuss deprecation of some annotations (and annotations with expressions).
- [ ] Brainstorm immutable `Vector`.
- [ ] Brainstorm for-each and for loops.
- [x] Bra

[2022-06-12 11:37] magnus-madsen commented on #3933
Suggestions for topics are welcome.

[2022-06-12 11:38] magnus-madsen commented on #3920
@mlutze What happens if we drop this now? I think it should be okay, no?

[2022-06-12 11:46] mlutze commented on #3920
What do you mean by dropping it? Do variables no longer carry any text? I don't understand how that would work.

Note that the recent naming advancements only fixed everything for the documentation, but error messages are still filled with nameless or pseudonymed variables.

[2022-06-12 11:48] magnus-madsen commented on #3920
Doh'. What I meant it: Do we still propagate varText during unification? If we do, my question is whether we need to any more.

[2022-06-12 11:53] mlutze commented on #3920
I removed the propagate logic in the rigidity PR after an experiment that showed it made no difference under the new system

[2022-06-12 12:08] magnus-madsen commented on #3738
@jaschdoc Fixed? Can I close?

[2022-06-12 12:09] magnus-madsen commented on #3726
Lenses? Half-kidding.

If you propose an API we could implement it in both Flix and Scala.

[2022-06-12 12:10] magnus-madsen commented on #3745
@nicdard Do you know if we can have different classes of local variables?

[2022-06-12 12:19] ninaandrup commented on #3906
I would be up for starting to implement this, if Jakob has too much on his plate for now :-)

[2022-06-12 14:39] nicdard commented on #3514
I am not sure, need to check better, I don't recall any work on autocomplete to be fair :sweat_smile:

Also, sorry for the long waiting, but now I am back to work :)

[2022-06-12 14:56] nicdard commented on #3745
I have been searching through the docs, but such feature doesn't seem to be in place. One thing we could do is to use a parameter token for the quantified veriables, as they are bounded to the quantifier. However I think that we should then treat the quantifier as an anonymous function kind of, as it is defining a scope. What do you think?

[2022-06-12 15:29] magnus-madsen commented on #2478
@ninaandrup If you could look at this at some point. Thanks! :)

[2022-06-12 16:23] magnus-madsen commented on #1440
@mlutze Can we support this now- at least in theory?

[2022-06-12 16:26] mlutze commented on #1440
Yes, I think so.

[2022-06-12 16:46] #3107 closed

[2022-06-12 16:50] magnus-madsen commented on #1438
Fixed in master.

[2022-06-12 16:50] #1438 closed

[2022-06-12 16:51] magnus-madsen commented on #2622
We could just remove the feature? Or no?

[2022-06-12 16:53] magnus-madsen commented on #3754
@mlutze I guess this is fixed?

[2022-06-12 16:55] #3715 closed

[2022-06-12 16:55] magnus-madsen commented on #3920
OK, so VarTexts are no longer modified, correct?

If so, we can close this.

[2022-06-12 16:55] magnus-madsen commented on #3907
I am closing this, but feel free to add the MultiMap instances, if you want.

[2022-06-12 16:55] #3907 closed

[2022-06-12 16:58] magnus-madsen commented on #3818
@ninaandrup Can you have a look at all sort functions to see if they behave this way?

[2022-06-12 16:59] magnus-madsen commented on #3443
`IllegalDerivationForEmptyEnum` or something like that? And we can just throw it on all the type classes than can be derived.

[2022-06-12 17:00] magnus-madsen commented on #3404
@jaschdoc What's the status on this. Blocked or?

[2022-06-12 17:04] magnus-madsen commented on #3861
What should we do with e.g. `Foldable`? Should all `Foldable`s have a region (but that is not functional-first) or should we have both `Foldable` and `MutFoldable`?

[2022-06-12 17:06] magnus-madsen commented on #3514
For example, `Fixpoint.unsafeCast` is marked as `@Internal` and should be hidden from auto-complete.

In the same way that we presumably hide non-pub functions?

[2022-06-12 17:07] magnus-madsen commented on #3514
@paulbutcher recently rewrote the auto-completer, perhaps he wants to take a stab at this?

[2022-06-12 17:07] magnus-madsen commented on #3489
@JonathanStarup What's the status on this?

[2022-06-12 17:08] mlutze commented on #3754
Effectively, yes!

[2022-06-12 17:08] #3754 closed

[2022-06-12 17:09] magnus-madsen commented on #1440
@nicdard This might be something you could look at :)

For example:

[code]

Would also be nice with rename support!

[2022-06-12 17:09] mlutze commented on #3920
Correct.

[2022-06-12 17:09] #3920 closed

[2022-06-12 17:13] mlutze commented on #3443
I don't think this should be illegal though.

[2022-06-12 17:18] magnus-madsen commented on #3745
Hmm. Seems like a hack. Maybe we should just wait for VSCode to improve.

[2022-06-12 17:20] magnus-madsen commented on #3443
Why? It is most likely a mistake from the programmer and we should try to help.

There is only one empty type anyway right? And its name is Void. Should we have that and should it have an equals etc? Maybe, but then at least it would be built into the language.

[2022-06-12 17:27] magnus-madsen commented on #2578
@mlutze Maybe this could be a good compiler starter issue, e.g. for Jakob?

[2022-06-12 17:28] magnus-madsen commented on #2999
@ninaandrup Did we refactor all of these functions to use Foldable?

[2022-06-12 17:29] #3548 closed

[2022-06-12 17:30] magnus-madsen commented on #3528
The plan is for the new build server to build a JAR for every PR merged into master and then to make these available.

[2022-06-12 17:31] mlutze commented on #3443
Or maybe, all empty types are isomorphic to the void type. But I think that empty types could still be useful. For example, if we have a phantom type.

[code]

If we want to derive equality or ToString on this then we need a `ToString` or `Eq` instance for `Red` and `Black`

[2022-06-12 17:32] magnus-madsen commented on #3366
@jaschdoc What's the status? Did we manage to rename all the files and to introduce regions in all tests?

[2022-06-12 17:35] magnus-madsen commented on #2252
@paulbutcher Might be a fun project?

[2022-06-12 17:37] magnus-madsen commented on #3443
Hmmm. But if it is a phantom type why would it participate in a type constraint?

[2022-06-12 17:38] magnus-madsen commented on #3443
I would rather ban it and then re-allow it if there is a convincing use case.

[2022-06-12 17:38] magnus-madsen commented on #3443
This is also a good starter issue.

[2022-06-12 17:39] magnus-madsen commented on #3643
No longer relevant?

[2022-06-12 17:40] magnus-madsen commented on #2873
All of these functions should take a region parameter.

[2022-06-12 17:40] magnus-madsen commented on #2873
(Well except toLazyList which does not require it).

Also my list is not complete.

[2022-06-12 17:56] magnus-madsen commented on #3836
But can the kind not be inferred from where the underscore occurs?

[2022-06-12 18:00] magnus-madsen commented on #3367
I propose a systematic approach:

- Uses references and regions (e.g. could just duplicate most test cases for both).
- Test cases that use 1, 2, and 3 nested regions.
- Test cases that use 1, 2, 3 data structures nested inside each other (e.g. array inside array inside array).
- Test cases that mix both multiple regions and multiple data structures.

[2022-06-12 18:01] magnus-madsen commented on #3481
We can close?

[2022-06-12 18:09] magnus-madsen opened #3937 "Introduce a `LocalGenSym`"
- Conceptually similar to `GenSym` but does not need an atomic long.
- Use in `freshKindedTypeVarSym` and `freshUnkindedTypeVarSym`
- Modify these symbols to carry two counters: a `globalId` and a `localId`.

Then use LocalGenSym in Namer? Resolver? Typer?

[2022-06-12 18:11] magnus-madsen commented on #3589
Is this still blocked?

[2022-06-12 19:07] paulbutcher commented on #2248
This is already in place, yes? Or if not, what am I missing?

[2022-06-12 19:16] paulbutcher commented on #2246
- [ ] When you type a pipeline e.g. xs |> List.len and auto-complete we should drop the last argument to the function.

[2022-06-12 19:17] paulbutcher commented on #2246
Can we consider this done?

[2022-06-12 19:23] magnus-madsen commented on #2248
That's right!

[2022-06-12 19:23] #2248 closed

[2022-06-12 19:24] magnus-madsen commented on #2246
Ill ask the student programmers to play around with it and report back :)

[2022-06-12 19:26] magnus-madsen commented on #2246
- [ ] https://github.com/flix/flix/issues/2252
- [ ] Auto-complete record fields, predicate symbols.
- [ ] Auto-complete named types.
- [ ] Auto-complete tags.

[2022-06-12 19:35] magnus-madsen commented on #2246
Ideas for snippets:

- Maybe import (since its a bit complicated).

[2022-06-12 19:38] magnus-madsen commented on #2246
A bit of strangeness:

![image](https://user-images.githubusercontent.com/2287953/173250348-c8281ad8-02c2-440e-8b08-97462ff80dad.png)

[2022-06-12 19:40] paulbutcher commented on #2246
Hmm - I can see the same thing. Will investigate.

[2022-06-12 19:59] mlutze commented on #3643
No longer relevant.

[2022-06-12 19:59] #3643 closed

[2022-06-12 20:00] JonathanStarup commented on #3489
Ah, sorry about the hanging issue.

In short, its closed.

The only remaining question is whether a rule like `A(2) :- fix B(2; x), C(2, x).` should be allowed. Right now its not but maybe that's overly cautious.

[2022-06-12 20:04] mlutze commented on #3836
It's possible, but for efficiency we do not perform kind inference on expressions, only on the signature. Maybe we can do something special for wildcards.

[2022-06-12 20:05] mlutze commented on #3481
We have not yet enforced that there is always a fallback name.

[2022-06-12 20:06] #3489 closed

[2022-06-12 20:19] paulbutcher opened #3938 "Filter text for def and sig completions is too permissive"
<img width="773" alt="Screenshot 2022-06-12 at 21 14 26" src="https://user-images.githubusercontent.com/61163/173251696-bc7845bc-4f50-485d-8d17-907e49146f44.png">

This is caused by the fact that typing `t` triggers a completion, and finds lots of potential matches (keywords like `true`, sigs like `ToString`, and defs like `Nec.tail`). This, I think, is correct and OK?

But then after the user typ

[2022-06-12 20:19] paulbutcher commented on #2246
https://github.com/flix/flix/issues/3938

[2022-06-12 20:22] paulbutcher commented on #3933
If it's not already on the list, can I suggest Clojure's implementation as a candidate for immutable vectors?

https://hypirion.com/musings/understanding-persistent-vector-pt-2

[2022-06-12 20:51] mlutze commented on #3861
Supposing we had class aliases, `Foldable[a]` could just be an alias for `FoldableMut[Pure, a]`, so users don't have to know about `FoldableMut` if they're working in a purely functional style.

[2022-06-12 20:52] mlutze commented on #3861
But I think it would be a shame to separate them completely, since then we couldn't generalize over e.g. `(Mut)?List`

[2022-06-12 21:41] stephentetley opened #3939 "query/select/from expressions should allow region attribution?"
As far as I can work out query/select/from expressions always produce the answer array in the static region. (Probably) Like array literals they should allowed to be on the left-hand side of ampersand region attribution operator so we can write this:

[code]

I suggest _probably_ as at some point in the future query/select/from maybe should produce a frozen array, immutable vector or even an itera

[2022-06-13 03:27] magnus-madsen commented on #3939
This is really what we need. But we don't have it yet.

[2022-06-13 08:59] #3938 closed

[2022-06-13 09:20] paulbutcher opened #3942 "Compiler crashes with empty enum with ToString"
Compiling this program results in the compiler exiting with the message: "head of empty list":

[code]

[2022-06-13 09:52] magnus-madsen commented on #3942
https://github.com/flix/flix/issues/3443

[2022-06-13 09:56] paulbutcher commented on #3942
Ah! Sorry for failing to notice this issue already existed.

[2022-06-13 11:05] JonathanStarup commented on #3608
Closed by #3623

[2022-06-13 11:22] #3608 closed

[2022-06-13 11:48] JonathanStarup commented on #2432
@magnus-madsen I will close this. Should we add the `ignore` function to prelude? It is not listed in the new issue. Is this useful in higherorder functions?

[2022-06-13 11:48] #2432 closed

[2022-06-13 11:52] magnus-madsen commented on #2432
Ignore in addition to `discard`? I think we can discuss it at the meeting.

[2022-06-13 11:55] magnus-madsen opened #3945 "Proposal to slim down `Prelude`"
Drop:

- `<==>`
- `==>`
- `curry`
- `uncurry`
- `constant`

I think these are rarely used.

[2022-06-13 11:55] magnus-madsen commented on #3945
@stephentetley Do you use any of these?

[2022-06-13 13:10] JonathanStarup commented on #3896
As far as I can see arrays are used for 1) random access and 2) array reuse for efficiency

1) could be solved by an immutable vector
2) seems like the cost of functional code here.

[2022-06-13 13:17] JonathanStarup opened #3946 "Add a `get` method to `List.flix`"
Shouldn't there be a function to retrieve a list element by index in `List`?

[2022-06-13 13:23] ninaandrup commented on #3818
Yes, they do :-)

[2022-06-13 13:29] JonathanStarup commented on #3896
Additional todos:
* [ ] Actually impure toString methods should not implement ToString typeclass

[2022-06-13 13:51] magnus-madsen commented on #3896
I would suggest to break this into smaller tasks than can be merged one by one.

[2022-06-13 13:51] magnus-madsen commented on #3946
Isn't it called at?

[2022-06-13 13:52] JonathanStarup commented on #3896
So this means that lookups will be linear? as a temporary performance cost?

[2022-06-13 13:55] magnus-madsen commented on #3896
I don't think so, because we don't do any lookups for the AST/RAM enums.

[2022-06-13 13:55] magnus-madsen commented on #3896
All the performance critical stuff is in searchEnv and db and there we will continue to use arrays/mut maps (but with regions).

[2022-06-13 13:57] JonathanStarup commented on #3946
Oh I see, yes, but it is not public
[code]

[2022-06-13 13:58] magnus-madsen commented on #3946
Ah and it's dangerous too isee

[2022-06-13 14:44] paulbutcher opened #3949 "Packages broken in VSCode"
The following repository builds and runs successfully, both on the command line and within VSCode.

But within the UI, it gives:

[code]

The reason for this is that the code to add source to the Flix compiler adds each source file within a package multiple times under the same URI:

https://github.com/flix/flix/blob/72064b2fc96ae89747eead325876060c202b570d/main/src/ca/uwaterloo/flix/api/lsp/Langu

[2022-06-13 15:27] jaschdoc commented on #3738
It works! Tested with snippet below

[code]

[2022-06-13 15:27] #3738 closed

[2022-06-13 15:28] jaschdoc commented on #3589
Nope, I'm just slow :)

[2022-06-13 16:13] magnus-madsen commented on #3819
@stephentetley Would you be interested in implementing this type class? :)

[2022-06-13 16:19] magnus-madsen opened #3950 "Add `foreach` loop construct"

[2022-06-13 16:19] magnus-madsen opened #3951 "Add `for-yield` loop construct"
Add support for:

[code]

as a `ForYield` node in the AST after `Choose`.

Desugar as follows in the `Weeder`:

[code]

(Note: We should discuss whether to use a different type class than foreach).

TODO: Add `if` construct.

[2022-06-13 16:20] magnus-madsen commented on #3950
@jaschdoc This should be a fun programming exercise for the internship.

[2022-06-13 16:20] magnus-madsen commented on #3951
@jaschdoc This should be a fun programming exercise for the internship.

[2022-06-13 16:23] magnus-madsen commented on #3945
@ninaandrup Will you delete these 5 functions (and their test cases).

[2022-06-13 16:51] magnus-madsen commented on #3949
Does the package have the right extension and is in the lib folder? What's the layout?

[2022-06-13 16:53] paulbutcher commented on #3949
It adds each file within a package under the same uri, so only one file is considered by the compiler. I have a fix ready to go as soon as https://github.com/flix/flix/pull/3944 is merged

[2022-06-13 17:13] #3193 closed

[2022-06-13 17:43] #1580 closed

[2022-06-13 19:09] magnus-madsen opened #3953 "Mark enums in Fixpoint.{Ast/Ram/Shared} as `@Internal`"
To hide them from here:

![image](https://user-images.githubusercontent.com/2287953/173426994-d823e04c-3083-4920-a8e6-bd54cff9bcc2.png)

[2022-06-13 19:27] jaschdoc commented on #3366
I think there were some wrong type rules when pattern matching an array. I think it automatically tries to match it against an array with `Static` region i.e. an impure Array. Here's the last comment on #3538

See PR for more info

[2022-06-13 20:38] stephentetley commented on #3939
Is there merit to making an immutable array module by wrapping Flix's current array with an enum and not exposing any mutating functions?  (Implementations of `map` , `filter` etc. would return new copies of the array.)

Frozen arrays are likely to be some time before being available from Java, but we might hope that there wouldn't be a big change to the API if we are able to swap to them at some

[2022-06-13 20:40] stephentetley commented on #3819
Yes - I can look at it this week.

[2022-06-14 05:38] magnus-madsen commented on #3819
No rush :)

[2022-06-14 05:50] magnus-madsen commented on #3939
I thought about three approaches:

- Adding a `Vector` like you describe (which is a data type wrapping an array and with casts). I dislike this because I think we would have to duplicate everything in `Array`.
- Adding a `Vector` to Flix itself (e.g. `[|1, 2, 3|], exp[|0|]`). I dislike this because we would still have to duplicate everything in `Array`, but at least it would be without casts!
- A

[2022-06-14 05:52] magnus-madsen commented on #3366
Yes, pattern matching on arrays: We do not support it yet.

[2022-06-14 05:52] magnus-madsen commented on #3366
(Because we are still trying to decide what to do)

[2022-06-14 06:07] #3514 closed

[2022-06-14 06:40] #3842 closed

[2022-06-14 08:01] ninaandrup commented on #3761
A list for myself for the missing collections:

- [ ] DelayMap
- [ ] Map
- [ ] MultiMap
- [ ] MutMap
- [ ] MutSet
- [ ] RedBlackTree
- [ ] Set

[2022-06-14 08:25] magnus-madsen opened #3956 "A type class for immutable values?"
Would it be possible to have a type class that captures immutable values?

I was thinking something like a marker:

[code]

The compiler would ensure that we never implement `Immutable` for `Ref[t, r]` or `Array[t, r]`.

Possibly all the instances should be derived and not expressed in Flix.

[2022-06-14 08:25] magnus-madsen commented on #3956
@mlutze Would this be feasible?

[2022-06-14 08:47] mlutze commented on #3956
It seems feasible. What's the utility?

[2022-06-14 10:25] paulbutcher opened #3957 "Better auto complete within a pipeline"
When you type a pipeline e.g. xs |> List.len and auto-complete we should drop the last argument to the function.

[2022-06-14 10:28] JonathanStarup commented on #3939
Couldn't all of these be implementations of the same interface? So we could add the namespace like Steven proposes with casts without committing to any of them.

[2022-06-14 11:26] paulbutcher opened #3959 "Add a space after auto-completing keywords"

[2022-06-14 12:34] #3959 closed

[2022-06-14 14:30] magnus-madsen commented on #2247
Do you you mean built-in types like Int32? If so, they are not defined anywhere, so you would probably want to just hard code them.

[2022-06-14 18:57] stephentetley commented on #3819
I've done the instances (tests to do).

Unfortunately non-empty collections (`Nel` , `Nec` and `Identity`) can't be "filterable" - I hope this doesn't limit the plans for monadic-do.

[2022-06-14 18:59] magnus-madsen commented on #3819
Hmmm. That's true. But I think it should be okay, I would mean that if you did `for (x <- xs; if x > 5)` and `xs` was `Nel` it would be rejected, but thats what you would want anyway, right? It would still work for just `for (x <- xs)`, if I understand correctly myself.

[2022-06-14 20:41] jaschdoc opened #3962 "Add `RedBlackTree.toIterator`"
Would be nice to have for data structures that depend on `RedBlackTree`. Maybe wait for #3589 to be closed.

[2022-06-14 20:42] jaschdoc commented on #3962
Oh wait we already have this :facepalm: #3118

[2022-06-14 20:42] #3962 closed

[2022-06-15 07:29] #3957 closed

[2022-06-15 09:01] JonathanStarup opened #3963 "Numeric functions and subject last"
It seems to me that many of the numeric functions, like `Int64.clampToInt` does not adhere to subject last.
[code]

[2022-06-15 09:26] jaschdoc commented on #3589
I think `unfoldWithOk` may be hard to implement with regions due to invoking `f` in the `done` function, giving `done` the effect `ef and r` whereas the `next` function just reads the cursor and thus has effect `r`. Example:
[code]
**Error**
[code]

[2022-06-15 09:35] JonathanStarup opened #3965 "Usability issue regarding unused recursive def"
When writing a function like
[code]
`rec` is unused, which is expected. We are supposed to solve this with `_`
[code]
but now rec in the body is undefined. There is two solutions: 1) prefix every call with `_`. 2) define `rec` to be `pub`. Since option 2 has less friction in most cases this would lead me to use `pub` which is a more error-inducing fix than `_`.

A possible solution could be to def

[2022-06-15 09:43] paulbutcher opened #3966 "Discussion: REPL design thoughts"
Magnus asked me to put together some thoughts on what I would expect from (and just as importantly, what I would *not* expect from) a Flix REPL. To my mind, there are two key use cases that a Flix REPL should enable:

1. **Learning and Exploration:** learning about, and exploring the idiosyncrasies of, the Flix language and libraries.
2. **Debugging and Visibility:** examining the behaviour of an

[2022-06-15 10:05] paulbutcher commented on #3888
For reference, this is how Clojure does it (which is very nice and simple):

https://clojure.org/reference/java_interop#_implementing_interfaces_and_extending_classes

[2022-06-15 10:05] paulbutcher commented on #3888
(makes it very clear that what's going on is very different from Java's `extend`.

[2022-06-15 10:44] mlutze commented on #3965
This is one more point for the `wip` idea.

[2022-06-15 10:44] JonathanStarup opened #3967 "Add `peekFront`, `peekBack`, and arbitrary lookup to `MutDeque`"
Could also be called `pollFront`/`pollBack`. The lookup function is called a lot of different things, maybe `get`?

[2022-06-15 10:52] JonathanStarup commented on #3965
Can you link the issues? I cant find it

[2022-06-15 10:57] JonathanStarup opened #3968 "Allow effects in `Array.forall`"
use case:
[code]

[2022-06-15 11:12] JonathanStarup commented on #3966
Looks good! I have often seen repl in situations where people showcase what types things are so I was wondering what your opinion is about displaying types. In the above its only shown here
[code]
Should the type display be related to let-bindings, displayed with all values, or shown based on a special repl method?

[2022-06-15 11:18] JonathanStarup commented on #3939
If users do not open up the `ImmArray` enum in the above, we can just reimplement the functions of the namespace with on of the other solutions.

[2022-06-15 11:26] paulbutcher commented on #3966
Oops, yes, definitely.

That, I'm not sure about. It should be "whatever is most helpful", but I'm not sure what that means, exactly.

[2022-06-15 11:42] paulbutcher commented on #3966
How's this as a starting point for when types should be displayed?

* Any value that implements `ToString` is displayed as-is.
* For everything else, we display its type

So:

[code]

(the intention of the `$` (not sure whether this is the best choice, but) being to indicate that what you're seeing isn't the value itself).

[2022-06-15 13:11] magnus-madsen commented on #3888
@paulbutcher I wrote a first proposal. Very simple, but would still require a principled restructuring throughout the compiler.

[2022-06-15 13:22] magnus-madsen commented on #3968
I think all foralls and exists should be effect polymorphic.

[2022-06-15 13:22] magnus-madsen commented on #3968
Ah- this is actually already fixed in master, is it not, @ninaandrup ?

[2022-06-15 13:26] paulbutcher commented on #3888
It is very simple 👍

Playing devil's advocate: What are the use cases where we would want to create an object that implements more than one interface or extends a single class without any interfaces?

The vast majority of cases I can think of would only require a single interface (and in the rare case where you might need to implement more than one, you could always implement a class in Java which

[2022-06-15 13:27] magnus-madsen commented on #3888
Agreed. We can start with one interface/abstract class/class 👍

[2022-06-15 13:28] magnus-madsen commented on #3967
`peek` usually means to look, but not change. `poll` usually means to change.

[2022-06-15 14:02] JonathanStarup opened #3969 "Bug inference error"
`r` is inferred `Type` in the type alias
[code]

[2022-06-15 14:23] mlutze commented on #3969
I believe this is by design: we only perform inference on defs and signs and just use annotations for everything else.

That design could be revisited though :)

[2022-06-15 16:14] stephentetley commented on #3963
Potentially `minimum` and `maximum` should be in a record as well to simulate named arguments.

[2022-06-15 16:18] stephentetley commented on #3966
GHCi uses explicit brackets for multiline input. Following this would be simpler for the parser.

[2022-06-15 16:35] paulbutcher commented on #3966
I guess another option would be some kind of explicit "line continuation" character (e.g. a `\` at the end of the line)? Not ideal, but not a disaster either.

[2022-06-15 17:13] JonathanStarup commented on #3969
Ah okay. I also thought about that case more generally. As far as I've gathered, kind inference is incomplete right?

So if we are about to display a kind error with kinds that are inferred, we should give an error more like

* `r` requires annotation.

Maybe even with a hint based on the error

* `r` requires annotation, maybe `r: Region`?

This would communicate that inference is involved and an

[2022-06-15 17:15] JonathanStarup commented on #3939
Yes, but probably with complications like `mapHelper` in Stephens code

[2022-06-15 17:17] JonathanStarup opened #3972 "add effects to `Map`/`MutMap`/`RedBlackTree` `.` `query`/`queryWith`"
example:
[code]
`p` should have an effect.

[2022-06-15 17:18] #3968 closed

[2022-06-15 17:25] magnus-madsen commented on #3888
I think the first PR should be:

- [ ] Extend `ParsedAst.Expression` with a new case class `NewObject(sp1: SourcePosition, fqn: Seq[String], sp2: SourcePosition)`. This should be added right after "LetImport" in the list of case classes and in pattern matches.
- [ ] Add parsing for `object ##java.lang.Iterator { }`
- [ ] Continue through the ASTs and phases: WeededAst/Weeder, NamedAst/Namer, Resol

[2022-06-15 19:50] JonathanStarup opened #3975 "use does not allow whitespace before initial multiuse"
This does not parse
[code]

[2022-06-15 21:16] magnus-madsen commented on #3966
I like this as the starting point. Its simple and easy to explain. Later we can go for something more fancy.

[2022-06-15 21:20] magnus-madsen commented on #3966
@stephentetley What's the bracket thing? Is it like if you write  `{` then GHCI knows to look for the closing bracket?

(I guess we can not use brackets because we have them in the language, so we would need something else).

[2022-06-16 00:09] JonathanStarup opened #3980 "parsing of records and array lookup"
`r.field[i]` seems like it should parse instead of requiring `(r.field)[i]`

[2022-06-16 01:12] JonathanStarup opened #3981 "Thunk default in `Option.getWithDefault`"
[code]
Could be written like this to allow `?unreachable` as the default fx.
[code]

[2022-06-16 02:47] mlutze commented on #3980
See also #2532

[2022-06-16 06:25] magnus-madsen commented on #3981
I thought about this problem before, but since we don't have by-name parameters I don't know what a good solution is.

[2022-06-16 06:40] magnus-madsen commented on #3967
- Add `peekFront`
- Add `peekBack`

[2022-06-16 06:43] #3975 closed

[2022-06-16 06:45] magnus-madsen commented on #3965
Maybe a recursive call should count as a use?

[2022-06-16 06:54] stephentetley commented on #3966
GHCi uses `:{` and `:}` or it has a multiline mode which looks like it uses a parsing strategy so see if input is finished:

https://downloads.haskell.org/~ghc/8.8.3/docs/html/users_guide/ghci.html#multiline-input

[2022-06-16 08:33] magnus-madsen commented on #3966
Thus:

[code]

works and

[code]

works.

[2022-06-16 08:45] paulbutcher opened #3982 "Consider alternative approach to auto complete prioritisation"
Auto complete can currently return hundreds of possible completions. For example typing "m" will match enums such as `Map`, defs such as `File.mkdir`, type classes such as `Mod`, keywords like `match`, local variables starting with "m", etc. And the situation will only get worse as we add more auto completions.

Currently, completions are prioritised statically according to what type of completion

[2022-06-16 11:31] JonathanStarup commented on #3965
I feel like the wip def would be a nicer solution. It would solve this problem in a more general way. `wip def f ...` would disable redundancy for that function.

[2022-06-16 11:39] JonathanStarup commented on #2532
From the referenced PR, `r.field[i]` does not parse and it seems like it should.

[2022-06-16 21:42] JonathanStarup commented on #3966
Another thought I had, the repl can be used instead of the documentation sometimes ("What list is `n` in using `List.split(n)`?") by just running the function. Python enhances this further by allowing `print(str.__doc__)` to see the documentation. I think documentation access would be nice to have in some form.

[2022-06-16 22:07] esdnm commented on #3821
@magnus-madsen hey, 3 weeks!

[2022-06-17 00:13] magnus-madsen opened #3988 "Type class resolution bug?"
From here: https://github.com/flix/flix/pull/3974

[code]

[2022-06-17 00:14] magnus-madsen commented on #3988
See "filterImplementation" in RedBlackTree.flix

[2022-06-17 00:15] #3819 closed

[2022-06-17 00:21] magnus-madsen commented on #3965
I was initially a fan of the `wip` idea, but now I think its too alien. Not sure what the best solution is.

[2022-06-17 00:37] magnus-madsen commented on #3982
Strongly agree with this idea!

[2022-06-17 00:42] magnus-madsen commented on #3982
I guess the current "previous token that can guide us" are:

- `with` followed by a type class name.
- `instance` followed by a type class name.
- `:` followed by a type.

A few more ideas:

- `.` followed by a tag or record field.
- `use` followed by a fully-qualified name (there many variants though).
- `query` followed by a local variable
- `from` followed by a predicate symbol

[2022-06-17 19:05] JonathanStarup commented on #3965
Alien in what sense? Its another concept/keyword to introduce and expect people to know?

It could also be added "invisibly" by adding the wip behavior for `def _f() ...`.

[2022-06-18 17:18] magnus-madsen opened #3989 "Simple improvents to the REPL"
- [x] Allow `\` as a line terminator (i.e. for multi-line inputs).
- [x] Allow `\\` as syntax for starting and ending a multi-line input (i.e. with having to type `\` on each individual line).
- [x] Do not trigger a compilation before an expression is entered.
- [x] Do not print a progress bar (set option on Flix object).
- [x] Fix `Input input cannot be ...`
- [ ] User defined `~/.flix/Prelude.fl

[2022-06-19 08:29] ninaandrup commented on #3761
This should be reopened. I forgot that I still need to do the `*Map`, `Set` and `RedBlackTree`. Closed by https://github.com/flix/flix/pull/3948

[2022-06-19 09:08] #2247 closed

[2022-06-19 09:20] magnus-madsen commented on #3945
@ninaandrup Could I ask you to address this next, thanks! :)

[2022-06-19 09:25] paulbutcher commented on #3888
To check I'm understanding, the first PR would enable me to add a test along the following lines (in a file called `Test.Exp.Jvm.Object.flix`):

[code]

Yes?

And then subsequent PRs would enable the innards of that test to be filled out?

[2022-06-19 09:33] magnus-madsen commented on #3888
Yep. Pretty much.

[2022-06-19 09:34] magnus-madsen commented on #3888
I suggest you create the PR immediately after doing a couple of phases -- even when very incomplete.

[2022-06-19 09:34] magnus-madsen commented on #3888
That's the best way to get early feedback and to discover potential issues.

[2022-06-19 09:35] magnus-madsen commented on #3888
In fact, writing a few test cases could also be a useful start.

[2022-06-19 15:30] paulbutcher commented on #3888
Completely agree that writing tests would be the best starting point. Not least because thinking about the tests leads me to think about questions like how we plan to handle arguments to a superclass constructor within this scheme?

Something like this?:

[code]

Or, possibly, given that we're only doing this for interoperability, and in the vast majority of cases that will mean implementing inter

[2022-06-19 15:44] magnus-madsen commented on #3888
I think we should deal with constructor arguments in "iteration 3". I think "iteration 1" would be just empty objects. "Iteration 2 would be implementing methods for interfaces (which cannot have constructors). Then we get to the constructors.

[2022-06-19 15:49] paulbutcher commented on #3888
Agree with that. But I do want to make sure that whatever syntax we come up with is capable of being extended to handle things like calling superclass constructors? I guess there are enough options we're unlikely to paint ourselves into a corner though, so I'll stop worrying.

[2022-06-19 16:32] #2478 closed

[2022-06-19 16:50] stephentetley opened #3992 "Benchmarks being optimized away rather than run"
It looks like Benchmark code (wrapped as a function `Unit -> Unit`) might be getting compiled away.

For instance running `Bench.Chain.flix` with options `--benchmark main/src/library/BenchMark/Bench.Chain.flix` I see:

[code]

[2022-06-19 17:18] magnus-madsen commented on #3992
That's fast. Probably too fast :P

[2022-06-20 13:28] magnus-madsen commented on #3982
I am keeping this open because there are some other ideas that can be taken into account.

[2022-06-21 11:06] paulbutcher opened #3996 "Unhelpful error messages for mis-capitalised functions"
The following:

[code]

generates the very unedifying:

[code]

Unless it's the first line of the source file, in which case it generates the equally unhelpful:

[code]

An error message along the lines of "function names cannot start with an upper-case letter" would be much more helpful.

[2022-06-21 19:43] paulbutcher commented on #3989
Will do, although I'll try to get my head around the code generation side of `object` first?

[2022-06-21 19:56] magnus-madsen commented on #3989
Sure. No rush on either! :)

[2022-06-21 20:17] paulbutcher commented on #3888
So to get code generation working, how close am I with:

1. Add `freshObjectSym` to `Symbol`
1. Add a `sym` field to `NewObject` and populated it in `Namer`
1. Add a new `newObjectsOf` method to `JvmOps` which will take `root` and return a set of `NewObject`s
1. Add something like this to `JvmBackend.run`:
[code]
5. Create `GenAnonClasses` and name the class using the symbol
6. Modify the `NewOjec

[2022-06-21 20:28] paulbutcher commented on #3888
I guess step 3 is the step which you felt might be usefully pulled into an earlier phase? Which makes sense: it would avoid walking the AST again.

[2022-06-21 20:30] paulbutcher commented on #3888
That makes sense

[2022-06-21 20:31] magnus-madsen commented on #3888
I think my ideal steps would be:

- Step 4 to 6. (I do like TDDs "take small steps").
- Introduce Symbol.JvmClassSym (I think `NewObject` or `ObjectSym` etc is too vague).
- Refactor Namer to use JvmClassSym (and refactor every subsequent phase to use it).
- Collect all JvmClassSyms and generate classes for them. (Later we can try to be smarter).

[2022-06-22 09:29] paulbutcher commented on #3888
While I'm looking at this code, I notice that `JvmOps.tagsOf` calls `JvmOps.typesOf`, walking the entire AST again. Can we rejig this so that it takes the results of `typesOf` as an argument instead of `root` to avoid the unnecessary repeated work?

[2022-06-22 09:41] JonathanStarup commented on #3888
It is to plan to do these all at once (maybe in the eraser phase? or even a self-contained one) and collect all the different types needed for code generation. I think there's also a comment to that effect in JvmBackend

[2022-06-22 09:42] paulbutcher commented on #3888
Indeed. I'm wondering whether it makes sense for me to do that before making the problem worse?

[2022-06-22 14:41] ninaandrup commented on #3963
@magnus-madsen I have made the functions
[code]
to
[code]
do we maybe want to use `min` and `max` instead such that it is not too long?

[2022-06-22 16:23] stephentetley commented on #3963
I wonder if this is a nicer signature:

My wager is that no-one would ever partially apply just min so we might as we make a tangible range.

[2022-06-22 16:32] magnus-madsen commented on #3963
Agree with Stephen. Let's do that.

[2022-06-22 17:33] JonathanStarup opened #4006 "Issue regarding `File.readWith` and its use of `skip`"
As discussed in #3984 `readWith` might not give data from the correct offset since `skip` can possibly not `skip` all of the requested bytes. From doc: ["The skip method may, for a variety of reasons, end up skipping over some smaller number of bytes, possibly 0. The actual number of bytes skipped is returned."](https://docs.oracle.com/javase/7/docs/api/java/io/FileInputStream.html#skip(long)).

O

[2022-06-22 17:57] JonathanStarup opened #4007 "Use `ToString` instances in `String.flix`"
`pub def unlines(a: List[String]): String`
could instead be
`pub def unlines(a: List[a]): String with ToString[a]`

This also applies to
* `unwords`
* `intercalate`
* `intercalateChar`
* maybe also `flatten` which is just `intercalate` with `""` applied

[2022-06-22 18:30] magnus-madsen commented on #3888
I think it's okay to make the problem worse. Mostly because that code can easily be removed again. The bigger question is how to do this nicely. But I think for anon classes it would mean to lift them into a map at some point. Probably around lambda lifting.

[2022-06-22 18:31] magnus-madsen commented on #3888
So I propose the ugly duplicate code. Then we get something that works with new object. Then we refactor by introducing anon class sym or whatever.

[2022-06-22 19:48] JonathanStarup commented on #3963
related to this #3977, it could be cool to have range objects that the std lib could use. Minimum, maximum, and maximum inclusive/exclusive. Cool but maybe also too cumbersome.

[2022-06-22 21:49] magnus-madsen commented on #3963
I agree a Range type or type class (?) would be nice. Not sure what the best practice is. Suggestions welcome.

[2022-06-22 21:52] magnus-madsen commented on #3966
@stephentetley I seem to remember you were also a fan of REPLs :) I'd also appreciate your input:

- Are there any use cases or important features we have missed?
- Does Haskell/GHCI allow redefinition of declarations, types, etc?
- What's your current workflow today? Do you use VSCode? The repl? Your own custom thing?

[2022-06-23 10:50] magnus-madsen commented on #3888
I think we can introduce the symbol after or during `LambdaLifting`. Ill sketch at plan later.

[2022-06-23 12:54] jaschdoc opened #4014 "Use unify expected type in `Typer`"
The type error message
[code]
should its bottom part be
[code]
most of the time as type checking should be able to infer an expected type when checking concrete types. Does this make sense? :D Ask @mlutze

[2022-06-23 13:52] mlutze commented on #3988
This boils down to the namespacing question that we've had before. Currently instances share the namespace of their parent, which causes issues.

[2022-06-23 15:13] JonathanStarup commented on #4007
I think for intercalate at least it is a good idea but its a good point. You could write all String functions to operate on ToString but that seems excessive.

I think you can criticize the ToString class in general with this argument. By function it implicitly converts things to strings so you might do it by accident.

[2022-06-23 17:30] #3758 closed

[2022-06-23 17:31] paulbutcher commented on #3966
If you place an up to date `flix.jar` in the root of your project, the VSCode plugin should use that. You should see something like this in the "Flix Compiler" channel of the "Output" window (it should be displayed automatically when you open a Flix file):

[code]

Do you see that? And if not, what do you see?

[2022-06-23 17:33] paulbutcher commented on #3966
Do you use this "redefine but shadow" functionality? It sounds to me that it adds quite a lot of complexity (both in terms of the code, and also in the user's mental model) which we should only contemplate if there's a strong reason to do so?

[2022-06-23 18:07] stephentetley commented on #3966
Thanks @paulbutcher - yes this works.

It would be nice to have a setting for compiler path in the Flix VSCode extension then I don't need a copy of the jar in each of my projects.

[2022-06-23 18:11] stephentetley commented on #3966
No, my own GHCi "workflow" is quite primitive - I have a Haskell source file where I write any declarations or function definitions and I load and reload that. At the prompt I almost always just invoke functions I've written in my "doodle" file.

[2022-06-23 18:14] paulbutcher commented on #3966
Good to hear. What happens when you don't have `flix.jar` in the root?

Understood. One of the things I'm planning on looking at soon, I hope, is packaging, which will consider all of:

* How to determine which version of Flix to use
* How to determine which Java libraries to use
* How to determine which Flix libraries to use

But I want to get the Java interop and REPL workflow working first 😜

[2022-06-23 18:41] stephentetley commented on #3966
I think it should delegate to one in `.vscode` user configuration. For some reason VSCode doesn't download a `flix.jar` for me on Windows (I've seen it does on Linux).

A simple scheme would be to follow Flix package manager which is working very well for me. Look for libraries - jars and Flix .pkg files - in a `lib` folder at the top level of the working directory.

[2022-06-23 18:45] stephentetley commented on #3933
@mlutze - have you seen this?

https://homepages.dcc.ufmg.br/~camarao/controlling-the-scope-of-instances-in-Haskell-sblp2011.pdf

[2022-06-23 20:01] #3953 closed

[2022-06-24 08:25] mlutze commented on #3969
Kind inference is indeed incomplete; we overcome that by making some assumptions that things are `Type`

I think it should be possible to produce the errors you suggest for the non-def cases.

[2022-06-24 09:13] JonathanStarup opened #4018 "A way to create a `Nel` from a list plus an element."
I want to create
[code]
I can create a Nel with `singleton(x)` but I cannot append the list to it without `List.toNel` which returns an option and thus requires an `?unreachable` case.

I'm not sure what the solution is. Maybe allow a broader range of things in append? like iterable? This would require two append methods so it also seems a bit weird. Maybe the `createNel` should just be in `Nel.fl

[2022-06-24 10:11] mlutze commented on #4018
Doesn't the `Nel` constructor take an element and a list?

Either way, I agree that there's a general issue of interop between `Nel` and `List`. It would be cool to have something like `List[isEmpty: Bool, a: Type]` but that requires GADTs.

[2022-06-24 10:32] JonathanStarup commented on #3933
Encapsulation: How and when enum cases should be hidden from external use

[2022-06-24 10:39] paulbutcher opened #4021 "Language server fails to load files in WSL"
Opening a Flix project which is hosted within WSL results in:

[code]

[2022-06-24 10:48] mlutze commented on #2111
superseded by rigidity environment

[2022-06-24 10:48] #2111 closed

[2022-06-24 11:01] mlutze opened #4022 "Type aliases `Done` and `Next` should not be at top-level"

[2022-06-24 11:03] mlutze commented on #2951
This is fixed by rigidity environment

[2022-06-24 11:03] #2951 closed

[2022-06-24 11:31] mlutze opened #4024 "Exhaustivity not checked in match head"
[code]

This should throw an error because the nested match is not exhaustive. Instead it crashes at runtime.

[2022-06-24 11:32] mlutze commented on #4024
This also seems to be the case for guards.

[2022-06-24 11:33] paulbutcher commented on #4021
The solution to this seems to be installing the "Remote - WSL" extension within VSCode:

https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-wsl

Not sure whether we should try to display a message to that effect or whether this is niche enough that it's not worth it?

[2022-06-24 12:29] mlutze opened #4027 "Inexhaustive match in Datalog engine"
Here in `IndexSelection.flix`: https://github.com/flix/flix/blob/master/main/src/library/Fixpoint/IndexSelection.flix#L152
[code]

The `match BoolExp.Eq ...` is not exhaustive. This was uncaught because of a bug in exhaustiveness checking.

See https://github.com/flix/flix/pull/4026

[2022-06-24 12:39] mlutze commented on #3818
But we want the array sorted in-place, right?

So instead of
[code]

we want
[code]
(notice the imperative pipe and in-place sort call)

[2022-06-24 12:48] mlutze commented on #3801
Is this still an issue? I see that `Array.findIndices` is using scoped arrays without issue on master.

[2022-06-24 12:49] magnus-madsen commented on #4018
I think its fine to use Nel directly.

[2022-06-24 12:49] #4018 closed

[2022-06-24 12:53] mlutze commented on #3981
We could do `Lazy` but that would only allow pure values anyway.

Java's maps have a `getOrCompute` function, which would work for us.

[2022-06-24 13:59] jaschdoc commented on #3801
Yes but I'm not sure it's the same implementation. I'll have to check whether the above still produces an error. I'll get back to you on that

[2022-06-24 14:34] magnus-madsen commented on #4027
@JonathanStarup Can you take a look?

[2022-06-24 16:04] mlutze commented on #3726
Something like this?

[code]

I think it's too specialized to add to the standard library.

[2022-06-24 16:43] magnus-madsen commented on #3726
Seems too specialized.

[2022-06-24 16:56] #3404 closed

[2022-06-24 21:09] #3317 closed

[2022-06-24 21:45] mlutze opened #4030 "Allow annotations on type aliases"

[2022-06-24 22:07] mlutze opened #4031 "Visit case types in Indexer"
This would be easier without schemes :) (see #3731)

[2022-06-24 22:27] mlutze opened #4032 "Refactor LSP Structures"
- [ ] `occurrenceOf` / `useOf` / `defOf` is confusing and seems inconsistent. I think this should be simplified to `useOf` and `defOf` if possible. If not possible, documentation explaining the differences is necessary.
- [ ] `Entity.Exp` and `Entity.Type` are broad and clumsy as we have to re-match on the expression/type and throw away most cases. A dedicated entity for each applicable expression

[2022-06-24 22:30] mlutze commented on #2622
Which feature exactly?

[2022-06-24 22:52] mlutze commented on #3614
It seems that lowering is erasing the types needed for monomorphing correctly

[2022-06-25 09:13] magnus-madsen opened #4033 "Syntax of Records and Record Types"
Why is this inconsistent:

[code]

Can we change it to:

[code]

[2022-06-26 08:09] #3818 closed

[2022-06-26 10:59] jaschdoc opened #4039 "`MutList.get` should return `Option[a]`"
It currently returns `a` or crashes the program if there is no element at the position. This is quite unsafe in my opinion.

[2022-06-26 14:18] magnus-madsen opened #4040 "LSP: Hover (etc) should show (`not current`) if the information is outdated"
If compilation is currently failing, but we are showing "old" information from the last successful compilation, we could include that in e.g. hover messages.

[2022-06-26 14:19] magnus-madsen commented on #4039
Why do we even have such a function? I would say remove it and any other function like this.

[2022-06-26 14:27] magnus-madsen opened #4041 "Distance => Dist and Position => pos with records"

[2022-06-26 14:39] magnus-madsen opened #4042 "Add "launch in shell/repl" command to CodeLensProvider"
Requires changes to both the compiler and VSCode plugin (AFAIK).

[2022-06-26 14:57] magnus-madsen commented on #2622
The ability to declare `rel` and `lat`.

[2022-06-26 14:58] magnus-madsen commented on #2622
@stephentetley Do you use to ability to declare `rel` and `lat`?

Would you miss them if we removed them *before* having some new solution in place based on type aliases?

[2022-06-26 14:59] magnus-madsen opened #4043 "Use Nel in `RelOp`"

[2022-06-26 15:10] magnus-madsen opened #4044 "Towards a stateful REPL"
# Goals
- Allow the user to define "local variables" and interact with them (notebook-style, if you will).
- Do not break the compiler architecture.

We want to support this:

[code]

# Milestones:
- [ ] Extend `Shell` with a mutable type environment and a mutable value environment (of the form `Map[String, AnyRef]` and `Map[String, Type]`. Both environments must be cleared when the program is rel

[2022-06-26 15:24] mlutze commented on #4039
Why remove it? Is random access not part of the mutable list API?

[2022-06-26 15:43] magnus-madsen commented on #4039
The problem is: If you want random access then its probably for performance and then you don't want to be allocating Options. So what to do?

[2022-06-26 16:27] paulbutcher opened #4045 "REPL/--interactive rationalisation"
I propose to simplify and rationalise the REPL/`--interactive` as follows (@magnus-madsen, this is what we've been discussing over e-mail, but I've added the suggestion that we introduce a `repl` command to replace `--interactive`).

* Add a new `repl` command which will replace the `--interactive` flag. I.e.:
[code]
  becomes:
[code]
* `flix repl` with no arguments will either start a REPL with a

[2022-06-26 16:40] stephentetley commented on #2622
Yes I almost always declare `rel` and `lat` rather than use them implicitly, but I can keep my projects that use Datalog pinned to a previous version of the compiler until there is a new solution.

[2022-06-26 20:12] magnus-madsen commented on #2622
OK. No, in that case we keep the feature until a replacement is ready :)

[2022-06-26 20:13] magnus-madsen commented on #2622
(We are just trying to express this feature as a special case of type alias).

[2022-06-26 20:41] magnus-madsen commented on #4045
- Running `flix` with zero arguments should also start the REPL.

[2022-06-26 20:51] magnus-madsen commented on #4045
This looks reasonable to me.

[2022-06-26 20:56] magnus-madsen opened #4046 "Remove StaticIterator"
Once #4011 is merged in.

[2022-06-26 21:13] magnus-madsen opened #4047 "Review standard library for use of `Static` and `Impure`"
We should review the standard library to ensure that every use of `Static` and/or `Impure` is necessary,
i.e. if regions can be used instead, they should be.

We are already refactoring the Datalog engine in: https://github.com/flix/flix/issues/3896

But we still have all these occurrences left:

![image](https://user-images.githubusercontent.com/2287953/175834008-67d1b8ab-d6d4-4456-b72d-83022878c

[2022-06-26 21:15] magnus-madsen commented on #4047
@JonathanStarup Ill make you the "Static and Impure" czar. Basically, if you could figure out which of these can be fixed (and what it would take), and then we can hopefully delegate those tasks to Jakob or Nina.

Obviously a lot of `Impure` annotations are fine and should stay. For `Static` I would expect most can disappear. Agree?

[2022-06-27 06:45] JonathanStarup commented on #4039
i think the option versions are okay, it feels mean to abandon people if they want functional random access. O(1)+option allocation still seems better than O(n).

Although another option is to make a map the canonical choice here but that probably isnt faster.

[2022-06-27 07:18] magnus-madsen commented on #4039
I have added this to the meeting for discussion.

[2022-06-27 08:18] magnus-madsen opened #4048 "Mark enums as opaque in the standard library"
These enums:

- `DelayList` and `DelayMap`.
- `Set` and `Map`.

[2022-06-27 08:45] mlutze opened #4050 "add AE support to Typer"

[2022-06-27 09:38] paulbutcher opened #4052 "Language server crash in HighlightProvider"
This happened while I was scrolling through a file. Not sure what caused it, and haven't been able to immediately reproduce, but wanted to record it:

[code]

[2022-06-27 09:43] magnus-madsen commented on #4052
Which version of Flix?

(This looks like a broken JAR)

[2022-06-27 09:50] paulbutcher commented on #4052
A development version that I'd compiled while working on the REPL changes.

I don't think it can be a broken Jar because I'd been using VSCode successfully for several minutes before this error (and if it was a broken Jar, presumably it would have been broken immediately)? I've just restarted VSCode with the same Jar, and I get no errors.

[2022-06-27 09:51] paulbutcher commented on #4052
(and I'm not working in HighlightProvider, or anywhere near it)

[2022-06-27 10:18] mlutze commented on #4052
I've noticed that sometimes NoClassDefFound errors seem to spring up when there's a stack overflow for some reason.

[2022-06-27 11:22] JonathanStarup commented on #4027
to fix the fixpoint code?

[2022-06-27 11:27] magnus-madsen commented on #4027
Yes

[2022-06-27 11:42] ninaandrup commented on #3697
If I have to make a `shuffle` function for the rest of the collections I have to make `toArray` and `toX` functions as well. Do we want `shuffle` for more collections?

[2022-06-27 13:02] magnus-madsen commented on #3989
Oh- we could also allow the user to run build commands, e.g. `build-jar` from the repl!

[2022-06-27 13:20] #4041 closed

[2022-06-27 13:20] magnus-madsen commented on #4041
So everything is refactored? :)

[2022-06-27 19:49] #4027 closed

[2022-06-28 09:52] ninaandrup commented on #4041
Yes :-)

[2022-06-28 10:23] mlutze opened #4062 "Array length ignores impurity of array expression"
[code]

This should be an error, but the effect of `mkArray` is ignored.

[2022-06-28 11:02] jaschdoc commented on #4046
[code]
Should we introduce a record for the parameters like in `String.replace`?

[code]

[2022-06-28 11:29] magnus-madsen commented on #4046
Yes, but I guess this belongs in a different ticket? :)

[2022-06-28 11:30] jaschdoc commented on #4046
Oh I thought it was related to "suspicious use of regions" :)

[2022-06-28 11:39] magnus-madsen commented on #4046
Where's the region? Am I blind?

[2022-06-28 13:57] JonathanStarup commented on #2546
#3888 Covers this issue

[2022-06-28 14:44] jaschdoc opened #4068 "Array with references crashes due to bad type on operand stack"
See https://github.com/flix/flix/pull/4066#issuecomment-1168813530

[2022-06-28 14:46] jaschdoc commented on #4047
Same issue as #3841?

[2022-06-28 15:49] paulbutcher commented on #4042
Agree that we need this functionality, but I'm not sure that it should be provided via a code lens.

Code lenses are associated with a specific bit of source code (typically the `main` function or functions annotated with `@test`). Running the REPL isn't associated with a particular location within the source.

So, I suspect that this should be a command accessible via a keybinding or command pale

[2022-06-28 19:00] #4022 closed

[2022-06-28 21:36] #3426 closed

[2022-06-28 21:36] #4024 closed

[2022-06-29 06:37] #4068 closed

[2022-06-29 08:02] magnus-madsen opened #4077 "Rename `toIterator` to `iterator`"
Rename all `toIterator` functions to simple `iterator`.

(The reasoning is that an iterator is *NOT* a conversion. It is a handle on top of a collection. For example, `toArray` is really a conversion, but `toIterator` is not).

[2022-06-29 08:23] ninaandrup commented on #3963
This should be closed. All numeric functions have been refactored to subject last :-)

[2022-06-29 08:26] #3963 closed

[2022-06-29 08:31] jaschdoc commented on #3367
Can we re-open this issue? @magnus-madsen

[2022-06-29 08:52] jacopol opened #4079 "error message when running top-level function"
The following error was generated, but didn't point to the actual problem:

[code]

The actual solution in my case would have been:
  (3) Ensure that mainX is "pub"

[2022-06-29 10:34] JonathanStarup commented on #4079
I'd also like to add to this error now that there is a ticket. if you write `NsA/NsB/NsC.function` i'd like to know where it went wrong e.g `NsC` not found.

[2022-06-29 10:54] jaschdoc commented on #3933
If there is time: guidelines for ordering the source of the library (alphabetically, logically similar functionality (how do we even measure this?), etc.)

[2022-06-29 11:00] mlutze commented on #4079
@JonathanStarup You mean if the namespace doesn't exist, we should indicate that instead of saying that the function at that path doesn't exist?

[2022-06-29 11:01] jaschdoc opened #4082 "Regions & Java imports should not throw a redundancy error"
The function below throws a redundancy error since the term level `r` is not used within the function. A solution to the problem is to introduce a line `let _ = r;` on the line above `Array.toList(...)`. Should we add some exceptions to the redundancy check when it comes to regions? Maybe if the region is used at the type level then the redundancy is considered okay?
[code]

[2022-06-29 11:16] jaschdoc opened #4083 "Refactor `toArray` to take region as first parameter"

[2022-06-29 11:17] jaschdoc opened #4084 "Refactor `toMutList` to take region as first parameter"

[2022-06-29 11:17] jaschdoc opened #4085 "Refactor `toMutDeque` to take region as first parameter"

[2022-06-29 11:19] jaschdoc opened #4086 "Refactor `toMutMap` to take region as first parameter"

[2022-06-29 11:19] jaschdoc opened #4087 "Refactor `toIterator` to take region as first parameter"

[2022-06-29 11:20] jaschdoc opened #4088 "Refactor `toMutSet` to take region as first parameter"

[2022-06-29 11:21] jaschdoc opened #4089 "Overview of `toXYZ` that have correct order of parameters"
- #4083
- #4084
- #4085
- #4086
- #4087
- #4088

[2022-06-29 14:39] magnus-madsen opened #4091 "Add discard to LSP and VSCode"

[2022-06-29 15:32] jaschdoc commented on #3933
Related tickets
#4039
#2755
#3951
#3950
#4082

Anything else?

[2022-06-29 18:28] #4085 closed

[2022-06-29 19:09] stephentetley commented on #3933
As an intermediate step - a RandomAccessList [*] is very easy to implement (much easier than a Hash-mapped Trie). I've one waiting the benchmarking fix #3992 to see how well it works for indexing, but it wouldn't be much effort to make it work with an older version of the compiler before benchmarking was broken.

[*] To a user it is basically a list but internally it is cleverer to support more ef

[2022-06-29 20:08] #3887 closed

[2022-06-29 20:12] JonathanStarup commented on #3933
That looks very cool, what are the drawbacks? when is it worse than plain list?

From what I talked with magnus I think he wants an in-built fixed size vector with constant time lookup. I think its important to make clear if we need fixed-size, flexible size, or both.

[2022-06-29 20:12] magnus-madsen commented on #2755
We agreed to do this.

[2022-06-29 20:17] magnus-madsen opened #4096 "Add `nth` functions to all collections that sequences"
- Add `nth` which returns an `Option`.
- Remove any `get` or `getAt` functions.

[2022-06-29 20:17] #4039 closed

[2022-06-29 20:25] JonathanStarup commented on #1867
We've discussed doing this soon (related discussion #3939 #4095) and maybe you want to get a final say @stephentetley before we break everything that uses Datalog.

1) We could quite easily have query return lists. The only drawback here is that if this is not the final choice we want it would require two rewrites
2) It could return `t with Foldable[t]` to allow ourself room for change
3) Anything

[2022-06-29 21:20] magnus-madsen commented on #3989
The word "input" repeats.

[2022-06-29 21:21] paulbutcher commented on #3989
🤣 I was assuming that there was something deeper going on. NP 👍

[2022-06-29 21:29] stephentetley commented on #3933
Thanks Jonathan.

Chris Okasaki says on page 133 of Purely Functional Data Structures:

My implementation with just a few, essential functions is here at the moment:

https://github.com/stephentetley/flix-sandbox/blob/master/src/FlixSandbox/RandomAccessList.flix

Random-access lists are much closer to (cons) lists than arrays so they won't be competitive to arrays for array biased workloads. Howev

[2022-06-29 21:34] stephentetley commented on #1867
Wouldn't an iterator be the closest to to 2. ?

[2022-06-29 21:36] JonathanStarup commented on #1867
yes but then we'd have to introduce a region like you suggested. None of you like the set option?

[2022-06-29 21:53] magnus-madsen commented on #1867
I think we should use a List pending the introduction of a vector-like type.

[2022-06-29 22:22] paulbutcher commented on #3989
I've been looking at this, and I can't make up my mind whether JLine is going to be on our side or against us.

The default parser (which is what we're currently using) provides [`eofOnEscapedNewLine`](https://github.com/jline/jline3/blob/1315fc0bde9325baff8bc4035dbf29184b0b79f7/reader/src/main/java/org/jline/reader/impl/DefaultParser.java#L57) which on the face of things does exactly what we want

[2022-06-30 07:58] magnus-madsen commented on #4042
Re-opening because I still think some kind of discoverability (codelenses or otherwise) might be useful.

[2022-06-30 08:01] magnus-madsen commented on #3989
Not better than you :) Thanks for the investigation!

I think, ultimately, Flix uses `\`, `"`, and `{}` in too many places that we can rely on JLine to reasonably solve the problem for us.

Two solutions, one easy and one hard:

- We start with explicit `\` and we handle them ourselves.
- We can try to figure out if we can get the Parboiled2 Parser to tell us if "Does this parse as an incomplete e

[2022-06-30 08:08] magnus-madsen commented on #3989
- Maybe show progress bar on first compile?

[2022-06-30 09:16] #4062 closed

[2022-06-30 09:33] paulbutcher commented on #4042
Agree that better discoverability would be good, but I'm not sure what form that might take. I don't think a codelens is the right approach for the reasons outlined above, and I'm not sure what other options exist?

[2022-06-30 11:21] jaschdoc opened #4107 "Add `Iterator.zipWithIndex`"

[2022-06-30 13:20] magnus-madsen opened #4109 "Use regions and imperative programming in e.g. `List` where performance can be significantly improved"
For example, our current implementation of `List.map` is the naive:

[code]
https://github.com/flix/flix/blob/master/main/src/library/List.flix#L389

a much faster implementation is simply:

[code]

[2022-06-30 13:23] magnus-madsen commented on #4109
We should also compile a list of candidate functions for "imperative"-ifaction. I would just focus on the ones where there is a big performance impact, like the above.

[2022-06-30 17:58] JonathanStarup commented on #4109
[code]
result
[code]

[2022-06-30 18:54] magnus-madsen commented on #3888
Beginning of a plan:

- [ ] Extend `NewObject` with a `List[JavaMethod]`
- [ ] Add `case class JavaMethod(sp1: ..., ident: Name.Ident, fparams: Seq[ParsedAst.FormalParam], exp: ParsedAst.Expression, tpe: ParsedAst.Type, sp2: ...)` to `ParsedAst` (Add it after the `object Jvm`)
- [ ] Extend the parser to allow a sequence of `JavaMethod`s in the body of `NewObject`. Let's aim to support `def name(x:

[2022-06-30 19:01] paulbutcher commented on #3888
Sounds good.

Any thoughts on how to name these objects? Without names, testing them is going to be pretty close to impossible.

[2022-06-30 19:02] magnus-madsen opened #4113 "Running the repl in "empty" folder gives `NoSuchFileException`"
[code]

[2022-06-30 19:05] magnus-madsen commented on #3888
Which objects do you mean?

[2022-06-30 19:05] JonathanStarup commented on #3888
Could they not just be a LetRecDef? the object Ast node would then at some point be a list of closures

[2022-06-30 19:06] paulbutcher commented on #4113
Ah - yes, of course.

And yes, I think we need a better way of determining what makes a project a project (right now it insists on a very specific structure—I don't think, for example, that deleting the `README.md` should stop your project from being a project!).

I suggest that we punt this until we come up with a proper design for how dependency management should work (because the two things are

[2022-06-30 19:08] magnus-madsen commented on #4113
OK, but can we have a temporary solution? I don't want flix to crash when you just type `java -jar flix.jar`-- that should work out of the box :)

[2022-06-30 19:10] paulbutcher commented on #4113
Yes, fair enough - I'll see if I can come up with a stopgap solution

[2022-06-30 19:34] jaschdoc commented on #3906
I'm not sure. I think Magnus wrote something in the June meeting issue

[2022-06-30 19:36] magnus-madsen commented on #3906
I was updating this issue.

[2022-06-30 20:00] JonathanStarup commented on #4007
`List.join` is essentially what I wanted

[2022-06-30 20:00] #4007 closed

[2022-06-30 20:01] stephentetley commented on #4109
There's also the CPS functional version:

[code]

This seems about equal to Jonathan's functional version with `reverse`. Changing the sizes of `f` and `l` , I think I'm seeing the `MutList` version winning but with quite a bit of variance between runs.

[2022-06-30 20:24] magnus-madsen commented on #4109
I think the MutList version would (ultimately) be the fastest overall. (Separately, I think it is also a nice example of our "functional imperative"-style).

[2022-07-01 09:40] #3582 closed

[2022-07-01 09:47] magnus-madsen opened #4114 "Automatic kind promotion to pure region"
I want to experiment with some mechanism that can promote a type constructor `Type` to `Region -> Type`.

I am not sure exactly how.

The idea is that I want to be able to define instances of `Iterable[List]` and have it work.

Brainstorming:

- Could we add a type constructor `Promote: (Type -> Type) -> (Type -> Region -> Type)`. For example, `Promote[List] : Type -> Region -> Type`. Can we inser

[2022-07-01 09:56] jaschdoc commented on #3163
We did it (I hope)!

[2022-07-01 09:56] #3163 closed

[2022-07-01 11:17] magnus-madsen commented on #4109
It's not. The input is too small.

[2022-07-01 13:18] jaschdoc commented on #4047
The impure import is correct, no? Should be impure to interact with a stateful environment.

[2022-07-01 14:32] #4083 closed

[2022-07-01 16:29] #3967 closed

[2022-07-01 22:04] mlutze commented on #4030
This is complicated unless #3921 is done since annotation expressions can contain type aliases, which messes with the topological sorting for alias resolution

[2022-07-02 12:54] jaschdoc commented on #4089
@magnus-madsen or @mlutze could you assign me to this, please? :)

[2022-07-02 14:33] jaschdoc opened #4124 "Redundant import of tag when importing opaque type"
When importing an opaque type we both have to import the type and also its tag. It'd be nice if could simply import the type and use that name for the tag. E.g. in the example below I would like to simply import `MyEnum` with `use SomeNamespace.MyEnum`.

[code]

[2022-07-02 15:22] #4084 closed

[2022-07-02 21:54] #3367 closed

[2022-07-02 22:12] #3923 closed

[2022-07-02 22:26] magnus-madsen opened #4125 "Remove pattern matching on arrays"
- [ ] Remove from the Parser.
- [ ] Later decide whether to remove entirely from the compiler (or to refactor to work with Vectors).

[2022-07-02 22:27] magnus-madsen commented on #4125
@jaschdoc Part one might actually be a simple way to play a bit with the `Parser`. (Removing code is always fun and easy!)

[2022-07-03 09:15] magnus-madsen commented on #1234
Decided to close this because I see several ways it can be implemented, but not which one is the one a programmer would expect.

[2022-07-03 09:15] #1234 closed

[2022-07-03 09:16] magnus-madsen commented on #1235
I think this is too esoteric.

[2022-07-03 09:16] #1235 closed

[2022-07-03 09:16] magnus-madsen commented on #1236
Also too esoteric.

[2022-07-03 09:16] #1236 closed

[2022-07-03 09:16] magnus-madsen commented on #1237
This would still be nice to have... eventually :)

[2022-07-03 09:18] magnus-madsen commented on #4033
@mlutze Does this require a single line change in the `Parser` and then a lot of work in the standard library?

[2022-07-03 09:20] magnus-madsen commented on #4040
The call to `HoverProvider.processHover` would simply take a Boolean `current: Boolean` and then use that to determine whether to insert `(not current)`.

[2022-07-03 09:25] magnus-madsen commented on #4042
What do you think about adding a CodeLens: either at the top of every file or attached to every **main** function?

It would be `... | Open in REPL`

[2022-07-03 09:33] magnus-madsen commented on #4047
Function has to be impure, import is correct, but could return a List.

[2022-07-03 09:37] mlutze commented on #4033
I think so

[2022-07-03 09:38] #4091 closed

[2022-07-03 09:39] magnus-madsen commented on #4113
I'd like to release a new stable version next week (because Nicola has almost wrapped up the InlayHintProvider). It would be nice if this could be fixed before then :)

[2022-07-03 09:40] magnus-madsen commented on #4114
Does not seem like it can work.

[2022-07-03 09:40] #4114 closed

[2022-07-03 09:40] magnus-madsen commented on #3922
@mlutze Do you remember what this was about?

[2022-07-03 09:42] mlutze commented on #3922
No :)

My best guess is that wildcard type variables get the `Wild` kind

[2022-07-03 09:42] magnus-madsen commented on #3926
Try to change this line:

https://github.com/flix/flix/blob/master/main/src/ca/uwaterloo/flix/language/phase/Typer.scala#L820

to use `expectTypeM`

[2022-07-03 09:44] magnus-madsen commented on #3927
Not sure this is a good idea. It would also run higher risk of "timing out" the communication with LSP.

[2022-07-03 09:44] magnus-madsen commented on #3801
I think this has been fixed.

[2022-07-03 09:44] #3801 closed

[2022-07-03 09:45] magnus-madsen commented on #3770
I think this has been resolved.

[2022-07-03 09:45] #3770 closed

[2022-07-03 09:45] magnus-madsen commented on #3761
What's the status on this?

[2022-07-03 09:46] magnus-madsen commented on #4030
I suggest to drop this.

[2022-07-03 09:47] jaschdoc commented on #3801
Oops I forgot to check this

[2022-07-03 09:49] magnus-madsen commented on #3965
I think the simple solution is that the Redundancy phase should consider a recursive call as a use.

Can either of you implement that? :)

[2022-07-03 09:50] magnus-madsen commented on #3946
We decided for `nth` (in another ticket).

[2022-07-03 09:50] #3946 closed

[2022-07-03 09:51] magnus-madsen commented on #3939
We have decided that `query` will return a `List`. Later this can be changed to an immutable vector.

(Thus solving the purity issue.)

[2022-07-03 09:51] #3939 closed

[2022-07-03 09:51] magnus-madsen commented on #3939
(PR will be merged soon).

[2022-07-03 09:51] #3659 closed

[2022-07-03 09:53] #3638 closed

[2022-07-03 09:54] magnus-madsen commented on #3831
I think we should avoid having "xyzNot"-- simply because there would be too many variants to support.

Instead we should ensure that it is easy to get the negation, e.g. as shown with `String.isEmpty >> Bool.not`.

[2022-07-03 09:54] #3831 closed

[2022-07-03 09:55] magnus-madsen commented on #3811
I think this is fixed in master.

[2022-07-03 09:55] #3811 closed

[2022-07-03 09:55] magnus-madsen commented on #3734
Think this is fixed too.

[2022-07-03 09:55] #3734 closed

[2022-07-03 09:56] magnus-madsen commented on #3540
If only LSP would allow us :(

[2022-07-03 09:56] #3540 closed

[2022-07-03 09:57] magnus-madsen commented on #3528
Plan is to build a JAR on every merge (once the new shiny server is online).

[2022-07-03 09:57] #3528 closed

[2022-07-03 09:59] #1516 closed

[2022-07-03 10:00] magnus-madsen commented on #1439
Works in master!

[2022-07-03 10:00] #1439 closed

[2022-07-03 10:01] magnus-madsen commented on #1628
We now have opaque!

[2022-07-03 10:01] #1628 closed

[2022-07-03 10:02] magnus-madsen commented on #2008
Implemented.

[2022-07-03 10:02] #2008 closed

[2022-07-03 10:05] magnus-madsen commented on #2244
@nicdard Maybe you could help out with an "empty" `CodeActionProvider` :)

[2022-07-03 10:05] magnus-madsen commented on #2244
Then later we can start adding things to it, e.g. "Automatically derive Eq instance`.

[2022-07-03 10:32] magnus-madsen commented on #3732
This would go against the structural nature of Datalog programs. Its better to focus on abstraction mechanisms.

[2022-07-03 10:32] #3732 closed

[2022-07-03 10:32] magnus-madsen commented on #3731
Status?

[2022-07-03 10:34] magnus-madsen commented on #3921
This probably requires us to remove `@Time` and `@Space`?

[2022-07-03 10:35] magnus-madsen commented on #3855
We are aware and will update accordingly.

[2022-07-03 10:35] #3855 closed

[2022-07-03 10:36] #3303 closed

[2022-07-03 10:37] magnus-madsen opened #4126 "Inliner 2.0"
TBD

- [ ] Eliminate single branch/jumps.
- [ ] Drop unreachable labels.
- [ ] Merge if-then-else with same jump destination.
- [ ] Increase N = 4.
- [ ] Rewrite if-to-if (e.g. if (c1) (if (c2) e else jump l1) else jump l1) -> if (c1 and c2) e else jump l1).
- [ ] Rewrite jumpto l where l is a constant (e.g. true or false).

(Might be a fun project)

[2022-07-03 10:39] magnus-madsen commented on #3257
I am not sure we should do this.

[2022-07-03 10:39] #3257 closed

[2022-07-03 10:40] magnus-madsen commented on #3553
What do they return? Iterators? Lists?

[2022-07-03 10:41] #3315 closed

[2022-07-03 10:42] magnus-madsen commented on #3366
What is missing? Only the pattern matching on arrays which we plan to remove?

[2022-07-03 10:43] magnus-madsen commented on #3365
We can now run any unit function.

[2022-07-03 10:43] #3365 closed

[2022-07-03 10:57] mlutze commented on #3731
Still WIP. Taking it incrementally.

[2022-07-03 10:58] mlutze commented on #3553
Seems like they could both be done lazily.

[2022-07-03 11:08] #2999 closed

[2022-07-03 11:08] magnus-madsen commented on #2998
To be revisited.

[2022-07-03 11:08] #2998 closed

[2022-07-03 11:08] magnus-madsen commented on #2996
To be revisited.

[2022-07-03 11:08] #2996 closed

[2022-07-03 11:11] magnus-madsen commented on #3089
What's the status with this? :)

[2022-07-03 11:12] #3181 closed

[2022-07-03 11:13] magnus-madsen commented on #2854
Fixed in master.

[2022-07-03 11:13] #2854 closed

[2022-07-03 11:13] #2810 closed

[2022-07-03 11:16] #3589 closed

[2022-07-03 11:32] jaschdoc commented on #3366
Yes that's the only thing

[2022-07-03 13:43] magnus-madsen opened #4127 "Remove `ForEach`?"
TBD

[2022-07-03 13:50] magnus-madsen opened #4128 "A few statistics"
I would like to collect some statistics that I need for a paper submission on Friday.

- The number of functions that use records, like `Array.replace` (per namespace).
- The number of functions that exists both in immutable and mutable version (e.g. Array.reverse and Array.reverse) (per namespace).
- The total number of destructive functions (probably just all public functions that have ! in thei

[2022-07-03 13:51] magnus-madsen commented on #4128
@ninaandrup Will you be able to count these things for me in the next few days? :)

[2022-07-03 13:58] magnus-madsen commented on #2529
We should not add this because I encourages bad behavior.

[2022-07-03 13:58] #2529 closed

[2022-07-03 13:59] magnus-madsen commented on #2649
Need to rethink.

[2022-07-03 14:09] magnus-madsen commented on #3841
@jaschdoc Could I ask you to update the table at some point? (Just delete the items no longer relevant).

[2022-07-03 15:00] mlutze commented on #3054
My idea was that we can use partial compilation to speed up tests

[2022-07-03 15:35] stephentetley commented on #1236
I'd forgotten about it, but I wrote the code here:

https://github.com/stephentetley/flix-sandbox/blob/master/src/FlixSandbox/Text/Normalizer.flix

[2022-07-03 15:49] magnus-madsen commented on #3054
What do you mean?

[2022-07-03 15:58] jaschdoc commented on #3801
Ok I've tried this on master and it works :+1:

[2022-07-03 15:59] jaschdoc commented on #3089
I think @ninaandrup add it to namespaces and I made it effect polymorphic some time ago. Still not sure what you had in mind for the purity polymorphic stuff :)

[2022-07-03 16:18] jaschdoc opened #4129 "(style) Decide syntax for `override` for std lib"
We have a few places in the library where type class instances override some of the implementations but it's not consistent where people have put the `override` keyword. Specifically we should decide whether we write `override pub def` or `pub override def`. This obviously has very low priority.

Here's an example from `Nec`:

[code]

[2022-07-03 16:28] jaschdoc commented on #3841
Yeah sure. I still haven't gotten around to finishing it though, but will do that soon :)

[2022-07-03 16:53] mlutze commented on #3054
When a user clicks "run test", it would leverage the current partial compilation to execute it, rather than reloading the whole standard library etc.

[2022-07-03 16:58] ninaandrup commented on #3761
We still need a `toMutDeque` in `DelayMap`, `MultiMap`, `MutMap`, `MutSet` and `RedBlackTree`

[2022-07-03 17:03] mlutze commented on #4129
In scala, `override` comes first: https://docs.scala-lang.org/style/declarations.html

[2022-07-03 17:11] ninaandrup commented on #3089
Yes, I added it to namespaces in #3743

[2022-07-03 17:37] ninaandrup commented on #4128
Namespaces | Functions with records |  Functions both immutable/mutable
-- | -- | --
Array | 2 | 7
Choice | 1 | 0
Console | 1 | 0
DelayList | 1 | 0
File | 10 |
Int8 | 7 |
Int16 | 9 |
Int32 | 1 |
Int64 | 1 |
Iterator | 1 |
List | 1 |
MutList | 1 |
MutSet | 1 |
Nec | 1 |
Nel | 1 |
Option | 1 |
Result | 2 |
Set | 1 |
String | 22 |
Validation | 1 |

I have omitted the namespaces with 0 of both

[2022-07-03 17:46] ninaandrup commented on #4128
And there is 64 public functions that have ! in their name.

[2022-07-03 19:11] #3067 closed

[2022-07-03 19:37] #4107 closed

[2022-07-03 19:39] magnus-madsen commented on #3089
So we can close?

[2022-07-03 19:39] magnus-madsen commented on #3761
👍

[2022-07-03 19:51] #4088 closed

[2022-07-03 19:59] jaschdoc commented on #3089
I think so

[2022-07-03 20:08] #4086 closed

[2022-07-03 20:08] #3089 closed

[2022-07-03 21:09] stephentetley commented on #3601
Having done some work converting my code to use regions (with plenty of work still pending...) I think implicit params would be a very nice way of working with regions when the region needs to be threaded through a series of functions (like a parser). Though, it would be a lot of work to add this to the compiler.

[2022-07-03 22:39] magnus-madsen commented on #3601
Do you have some code we can look at?

[2022-07-04 07:57] magnus-madsen commented on #3697
Which collections are missing a shuffle? Sets and maps  cannot be shuffled because they are always sorted :)

[2022-07-04 11:08] jaschdoc commented on #3950
Next up:

- [ ] `foreach (x <- xs; y <- ys) exp` which desugars into `foreach(x <- xs) foreach (y <- ys) exp`.
- [ ] `foreach (x <- xs; if x > 5) exp` which desugars into `ForEach.foreach(match x -> if (x > 5) exp else ())`.
- [ ] Use `Iterator.foreach` (refactor tests to use `List.toIterator(r, l)`.
- [ ] Rename `<-` to `in`. The word `<-` is used for channels.
- [ ] Idiomatic way to enumerate ov

[2022-07-04 11:17] paulbutcher commented on #4113
Apologies: this wasn't what I assumed it was, it was a simple screw up on my part (I lost the call to `isProjectDir` when switching to `SourceProvider` from my original solution using `Either` (blush).

[2022-07-04 11:20] paulbutcher commented on #4042
I quite like the top of the file idea. Perhaps two choices: `Open project in REPL | Open this file in REPL"?

[2022-07-04 11:46] magnus-madsen commented on #4113
Thanks and no worries :)

[2022-07-04 11:55] JonathanStarup commented on #4047
But the program arguments are fixed for the whole program duration, so it should always return an array with the same content (the array returned is even a copy so you can't mess that part up). Thats why it shouldn't be impure imo but just be a regioned array

[2022-07-04 12:02] jaschdoc opened #4142 "Remove `Array.init2`"
It's only used in `unzip` and should be a helper function for that. `init2` can just be done at the call site instead:
`(Array.init(...), Array.init(...))`.

[2022-07-04 12:32] #4113 closed, assigned to nobody

[2022-07-04 12:38] magnus-madsen commented on #4042
We can at least experiment.

[2022-07-04 12:57] JonathanStarup commented on #3926
I've made an attempt influencing pattern matches with one case. I didn't use expectTpyeM since I didn't feel like i could blame one or the other.

---

[code]
[code]
The previous error shows the whole match expression.

---

[code]
[code]
The previous error shows the whole match expression.

---

[code]
[code]
This is unchanged. Fixing this is more complicated because all cases have to unify with

[2022-07-04 13:30] #1867 closed

[2022-07-04 20:54] #3761 closed

[2022-07-04 22:09] stephentetley commented on #3601
Thanks Magnus, I'll pick some out when I've got my work repository to compile again.

[2022-07-05 09:02] mlutze opened #4146 "Effect cleanup"
- [ ] Use schemes rather than specialized logic for typing effect operations
- [ ] Figure out what to do about the split-off type variables (e.g. do they go in the displayed scheme or not?)
- [x] Reconcile Bool unification and minimizations for sets and bools
- [x] Bring effects through Typer for VSCode hover, etc.
- [x] Support eff and op syms in VSCode
- [ ] Fix up TODOs
- [ ] Double check prett

[2022-07-05 09:34] magnus-madsen commented on #3950
I think we should leave `<-` as is for now. We can debate later whether to use a keyword. Lets both foreach and for and then we can see :)

[2022-07-05 09:36] magnus-madsen commented on #3601
Hopefully at least there is a feeling of things moving in the right direction.

[2022-07-05 10:28] magnus-madsen opened #4151 "Port `flix/programming-flix` to `flix/book`"

[2022-07-05 10:40] JonathanStarup commented on #3950
Shouldn't there be some ambiguity with channels (`for (a <- b <- c)`)? Not that it is a very sensible combination. I guess you could retrieve an iterator from a channel `for (a <- <- c)`

[2022-07-05 10:56] JonathanStarup opened #4152 "feat: generalize collection in `StringBuilder`"
I think a version of this function should exist that works with Foldable perhaps.
`pub def appendLinesWith!(f: a -> String & ef, a: Array[a, r1], sb: StringBuilder[r2]): Unit \ { ef, Read(r1), Write(r2) } = ...`

[2022-07-05 11:58] jaschdoc commented on #3950
Ahh didn't know. Matt and I wanted to rename `<-` to `in` for foreach, so it wouldn't clash / be confused with channel operators.

[2022-07-05 12:01] jaschdoc commented on #3950
Also, should we add a `collection.enumerate` which just calls `collection.iterator |> Iterator.zipWithIndex`? That's a bit shorter when writing foreach loops.

[2022-07-05 12:50] jaschdoc commented on #3950
What do you think of this?

[code]

[2022-07-05 12:57] magnus-madsen commented on #3950
Yes, but I think enumerate should take a region and return an iterator, yes?

[2022-07-05 13:04] magnus-madsen opened #4154 "Add additional `Validation` functions"
- folds
- recover

[2022-07-05 13:11] jaschdoc commented on #3950
Yes that's correct, but this was just for demonstration purposes (and something that actually works currently). When we switch `foreach` loops to call `Iterator.foreach` and not `Foreach.foreach` then the type of `enumerate` would be `Region[r] -> List[a] -> Iterator[(a, Int32), r] \ Write(r)`

[2022-07-05 13:13] magnus-madsen opened #4155 "Add `enumerate` to collections"
See https://github.com/flix/flix/issues/3950 for details.

What type classes? Foldables?

[2022-07-05 13:14] jaschdoc commented on #4155
Yes, but eventually this should be related to `Iterable` instances (when we magically solve that issue)

[2022-07-05 13:56] magnus-madsen commented on #3950
What remains:

- [ ] Use `Iterator.foreach` (this ticket).
- [ ] Remove `ForEach` (other ticket).
- [ ] Add `X.enumerator` (other ticket).

[2022-07-05 18:49] jaschdoc commented on #3553
The `drop` function already exists as `dropL`. The corresponding `takeL` has been added in #4158

[2022-07-05 19:17] jaschdoc commented on #3841
The list should be up to date and finished now!

[2022-07-05 22:27] #3553 closed

[2022-07-06 07:51] jaschdoc opened #4161 "Add `Chain.iterator`"

[2022-07-06 07:55] jaschdoc opened #4162 "Add `MultiMap.iterator`"

[2022-07-06 07:56] jaschdoc opened #4163 "Overview of missing `iterator` functions"
- [x] #4161
- [x] #4162
- [x] #4166

[2022-07-06 07:57] jaschdoc commented on #3950
Related issues

- [ ] #4163
- [ ] #4077
- [ ] #4127
- [ ] #4155

[2022-07-06 07:58] mlutze opened #4164 "Reconsider KindedVar/UnkindedVar structure"
The subtyping that we use (KindedVar and UnkindedVar extend Var) is fairly messy: we end up with a lot of pattern matches where we have several `case X => throw InternalCompilerException("unexpected unkinded variable")

There are a few reasons we opted not to separate the two species of type var. Some of them are:
1. Kinder produced a `ResolvedAst` rather than using a dedicated `KindedAst`
2. We d

[2022-07-06 08:03] jaschdoc opened #4166 "Add `RedBlackTree.iterator`"
Still an issue?

[2022-07-06 08:33] JonathanStarup opened #4167 "Feat: Improve namespaces"
Goal: improve namespace usability

* #3789
* #4124

[2022-07-06 08:49] magnus-madsen commented on #4166
Yes

[2022-07-06 09:18] magnus-madsen opened #4168 "Collect a list of functions that can crash"
- Array.get
- Array.put
- Channel.new(-1)

[2022-07-06 11:25] ninaandrup commented on #3697
I think it is only `Nec` and `Nel`

[2022-07-06 12:36] magnus-madsen opened #4178 "`ResolutionError.UndefinedName` should store the local variables currently in scope"

[2022-07-06 12:37] magnus-madsen commented on #4178
@mlutze Could I ask you to look into this. It's for auto-completion which @paulbutcher and I are looking into.

(My proposal: Store the env in Namer in each VarOrDef. Use it in Resolver).

[2022-07-06 13:45] #4161 closed

[2022-07-06 13:53] magnus-madsen commented on #3888
I have an intermediate solution: Can we use the source location to get the current filename and line number?

(The real solution; to arrive later, is to have some notion of symbols.)

[2022-07-06 13:53] magnus-madsen commented on #3888
(I actually think this problem will be solved naturally once we do the refactor above and arrive at the Lambda Lifting phase).

[2022-07-06 13:58] magnus-madsen commented on #4178
@mlutze

I think here:

https://github.com/flix/flix/blob/master/main/src/ca/uwaterloo/flix/language/phase/Namer.scala#L593

we store the current `env0` in the `DefOrSig` node.

Then around here:

https://github.com/flix/flix/blob/master/main/src/ca/uwaterloo/flix/language/phase/Resolver.scala#L1514

we store it in `ResolutionError.UndefinedName`.

[2022-07-06 14:11] paulbutcher commented on #3888
Sounds good - I'll get that done ASAP and then move on to your suggestions above.

[2022-07-06 18:10] magnus-madsen opened #4181 "The operation expects.."
![image](https://user-images.githubusercontent.com/2287953/177615436-160cd864-9ff1-4ef2-9e38-e9ad00a29757.png)

[code]

Another reason to use types, I think :)

[2022-07-06 18:44] #4077 closed

[2022-07-06 18:48] JonathanStarup commented on #4168
Does a[42] count?

[2022-07-07 07:48] magnus-madsen commented on #4125
Keeping open if we should remove the rest of the compiler infrastructure.

[2022-07-07 07:58] magnus-madsen opened #4188 "Number of beers owed by Gradle devs to Flix devs"

[2022-07-07 07:58] magnus-madsen commented on #4188
2022-07-07: I

[2022-07-07 08:37] mlutze opened #4189 "Use set effect syntax in stdlibrary"
Change every effect like `ef1 and ef2` to `{ef1, ef2}`

[2022-07-07 08:52] magnus-madsen commented on #4189
Do you want a student programmer to do this?

[2022-07-07 08:55] mlutze opened #4190 "ArrayLoad should be effect-polymorphic"
Currently in the Typer its purity is set to `Impure` in the reconstruction step

[2022-07-07 08:57] magnus-madsen commented on #4189
Ill summon one of our experts @jaschdoc.

[2022-07-07 09:00] mlutze commented on #4190
and slice.... just need to check all of them :D

[2022-07-07 09:18] magnus-madsen commented on #4190
What? How can that be true and not give us problems?

[2022-07-07 09:19] mlutze commented on #4190
It happens after type inference, so I assume that's why

[2022-07-07 09:40] magnus-madsen commented on #4190
Ah okay

[2022-07-07 10:27] jaschdoc commented on #3951
Do we want to support multiple yield expressions?

[2022-07-07 11:19] magnus-madsen opened #4192 "Add custom error messages for missing instances of `Functor`, `Monad`, and `FunctorFilter`"
This becomes relevant after foreach and for-yield has been added.

[2022-07-07 12:02] mlutze opened #4193 "Remove `PrettyExpression` or `FormatExpression`"
Looks like they do approximately the same thing.

[2022-07-07 21:34] paulbutcher commented on #3989
I'm not convinced of the utility of this. Can we perhaps punt it until/unless we have a firm use case?

[2022-07-07 21:35] paulbutcher commented on #3989
I think that this is done?

[2022-07-07 22:04] magnus-madsen commented on #3989
Agreed. We leave it as is.

[2022-07-07 22:05] magnus-madsen commented on #3989
Sure. But I think its this: You have the REPL open. You change a file in your editor and save it. Now what are you supposed to do?

[2022-07-07 22:05] magnus-madsen commented on #3989
Or is that already supported?

[2022-07-08 07:30] paulbutcher commented on #3989
It's already supported by `:reload`. The difference is that `:reload` reloads either the entire project or every file that was specified on the command line (i.e. there's no way to tell the REPL to just reload this specific file).

I'm not sure that I can see a reason why I might want to only reload a single file though?

[2022-07-08 08:20] magnus-madsen commented on #3989
Its probably fine.

[2022-07-08 12:24] paulbutcher commented on #3989
@magnus-madsen Any thoughts on this comment from #4199?

[2022-07-08 13:54] magnus-madsen opened #4202 "Implicit region (type) parameters"
TBD

[2022-07-08 14:12] magnus-madsen commented on #2246
It would be cool if we could do more precise ranking:

![image](https://user-images.githubusercontent.com/2287953/178008951-1962a1c1-fd37-4d39-9711-c09581166dfc.png)

You probably rarely want `Identity` and much more often want `Int32`. Could be an interesting (student) project to collect some statistics and use them to influence the ranking.

[2022-07-09 11:24] mlutze commented on #4164
I've explored this a little. There's of course some copy-pasting that would happen, for helper functions such as `Type.mkTuple`, but the amount of duplication doesn't seem totally unreasonable.

[2022-07-09 12:45] JonathanStarup opened #4210 "Non-pure recursive functions"
Recursive pure functions can soundly and correctly be typed with any effect
[code]
This is however not beneficial when refactoring code from impure code to pure code. This has been brought up before but I am more convinced of its relevancy after being in this situation four times during the refactoring of the datalog engine.

[2022-07-10 15:39] #4181 closed

[2022-07-10 18:53] magnus-madsen opened #4213 "Remove `FunctorFilter`?"
It seems we will not need it for `for-yield`. Should we remove it?

[2022-07-10 18:54] magnus-madsen opened #4214 "Add `MonadZero` and use it in `For-Yield`"
Add a type class:

[code]

Instances for `Option`, `Result` (?), `List`, `Chain` (what else?)

[2022-07-10 18:56] magnus-madsen commented on #3951
I propose:

[code]

becomes

[code]

Does that make sense @jaschdoc ?

[2022-07-10 19:30] jaschdoc commented on #3951
Yes I believe so :)

[2022-07-10 19:34] jaschdoc commented on #3951
So no arbitrary nesting of guards?

[2022-07-10 19:38] magnus-madsen commented on #3951
What do you mean?

[2022-07-11 07:33] jaschdoc opened #4216 "Add effecient implementations for `List.lift2...lift5`"
This todo has been in the code quite some time and I think we should have an issue instead of a todo in the std lib.
[code]

[2022-07-11 07:47] magnus-madsen opened #4217 "Track whether a formal param is ascribed"
For LSP, we need to know if a formal parameter was ascribed:

![image](https://user-images.githubusercontent.com/2287953/178214444-662d178b-def0-45bb-9b81-ffdfb90415af.png)

to know whether to show the type.

Do we just add a Boolean or what?

[2022-07-11 07:47] magnus-madsen commented on #4217
@mlutze Do you have a suggestion for how to refactor the ASTs?

[2022-07-11 07:48] jaschdoc commented on #3951
Nevermind, I thought about it and the question doesn't make sense hehe :)

[2022-07-11 07:49] jaschdoc commented on #3951
Related issue(s) (will be updated when other issues are created):
#4214

[2022-07-11 07:51] mlutze commented on #4217
I think that at least up to `Typer` the type field is an `Option`. It should be very easy to add a `Ascribed`/`Inferred` field to `TypedAst`

[2022-07-11 07:56] mlutze commented on #4217
Looks like it's not an `Option` actually :) But adding the `Ascribed`/`Inferred` should still not be a problem.

[2022-07-11 07:57] magnus-madsen commented on #4217
OK, could I ask you to that? It would unblock me which would unblock Nicola :)

[2022-07-11 07:57] mlutze commented on #4217
Yep

[2022-07-11 08:05] #4214 closed

[2022-07-11 08:42] magnus-madsen opened #4219 "Enforce `let` before bindings?"
Do we want to have a syntactic principle where bindings should be prefixed by `let` in most (all?) cases?

E.g.

[code]

[2022-07-11 08:42] magnus-madsen commented on #4219
@JonathanStarup @mlutze @jaschdoc Thoughts?

[2022-07-11 09:29] magnus-madsen commented on #4178
Fixed in master.

[2022-07-11 09:29] #4178 closed

[2022-07-11 09:31] magnus-madsen opened #4222 "Zipper on RedBlackTree"
We need a zipper on the RedBlackTree such that we can navigate it efficiently and use the zipper as the basis for the Iterator implementation.

[2022-07-11 10:38] magnus-madsen opened #4223 "Add `WISHLIST.md`"
A file we can add good suggestions to which we do not yet have the time to pursue.

- Machine learning-based rankings of auto-complete suggestions.
- Flix written in in Flix.
- A machine-checked compiler.
- A purple unicorn.
- A fearsome dragon.
- ...

and things labelled `future`.

Things not wished for:
- Async and await.

[2022-07-11 11:01] magnus-madsen opened #4224 "Polish `foreach`"
- [x] Add `foreach` as keyword snippet to `CompletionProvider`.
- [x] Add `foreach` as a keyword to https://github.com/flix/vscode-flix.
- [ ] Figure out what goes wrong with the syntactic highlight of the second foreach: ![image](https://user-images.githubusercontent.com/2287953/178248163-8b5100dd-5085-4b6a-9d99-e80ebc71df25.png)
- [x] Use `foreach` in all our mutable `ToString` instances.
- [x]

[2022-07-11 11:07] magnus-madsen opened #4225 "Iterable (redux)"
Replace `Iterable` by:

[code]

Implement instances for all mutable collections and for `Iterator` itself (!) (Delete all instances for immutable collections.)

[2022-07-11 11:18] magnus-madsen opened #4226 "Use regions and `MutList` in the implementation of `flatMap` on some data structures (e.g. `List`)"

[2022-07-11 11:19] magnus-madsen commented on #4226
@JonathanStarup Does this apply to all flatMaps or just some?

[2022-07-11 11:43] magnus-madsen opened #4228 "Polish `for`"
- [ ] Add `for` and `yield` as keyword snippet to `CompletionProvider`.
- [ ] Add `for` and `yield` as a keyword to https://github.com/flix/vscode-flix.

[2022-07-11 11:49] jaschdoc commented on #4225
Should `iterator` take a region parameter? E.g. `def iterator(r1: Region[r2], m: m[a, r2]): Iterator[a, r1 and r2] \ ...` ?

[2022-07-11 12:24] magnus-madsen commented on #4225
No, it reuses the region of the mutable data type.

[2022-07-11 12:47] magnus-madsen commented on #3896
How far are we? :)

[2022-07-11 12:48] magnus-madsen commented on #4047
What's the overall picture now?

[2022-07-11 12:50] magnus-madsen opened #4230 "Allow multiple collections in `for-yield`"

[2022-07-11 13:18] jaschdoc commented on #4225
So what is the issue with iterating over `RedBlackTree`? I think @ninaandrup found a solution back when she worked on it.

[2022-07-11 13:34] magnus-madsen commented on #4225
We need a zipper like data structure.

[2022-07-11 14:18] #3771 closed

[2022-07-11 14:25] magnus-madsen commented on #3951
Fixed in master (some issues remain).

[2022-07-11 14:25] #3951 closed

[2022-07-11 14:26] magnus-madsen commented on #3950
Fixed in master (some issues remain).

[2022-07-11 14:31] JonathanStarup commented on #4226
the speed increase?

[2022-07-11 14:32] #4128 closed

[2022-07-11 14:32] magnus-madsen commented on #4226
No, can all flatMaps be implemented this way?

[2022-07-11 14:35] magnus-madsen commented on #4109
We can find other usage of `:::` by searching for it in `List`.

[2022-07-11 14:46] jaschdoc commented on #4166
Relates #4222

[2022-07-11 16:44] paulbutcher commented on #3989
Yes, just build commands left.

User-defined prelude is something that does get used quite heavily in Clojure-land, but then Clojure-land is more REPL-centric. I have no problem with us leaving this until it's proven necessary (or otherwise).

[2022-07-11 16:48] paulbutcher commented on #3982
I see the utility of this. For built-in types, we could simply order the list by hand using judgement. But a better solution would be to gather data on actual usage (either usage on the part of the user, or globally).

Perhaps a cache of the last n used completions, ordered by most recently used. Sort auto complete suggestions so that any matching completions which appear in the cache appear first

[2022-07-11 17:15] magnus-madsen commented on #3982
It does not tell us directly. I like your idea of starting with a hand-picked order. Later maybe a student project could use some statistics.

[2022-07-11 17:16] #4225 closed

[2022-07-11 17:20] #4050 closed

[2022-07-11 18:29] #4189 closed

[2022-07-11 19:24] jaschdoc commented on #4151
I think this can be closed now :)

[2022-07-11 19:25] jaschdoc commented on #3366
I think we can close this since we removed pattern matching on arrays.

[2022-07-11 19:51] #4151 closed

[2022-07-12 07:10] magnus-madsen commented on #3539
@jaschdoc Perhaps this is something you could look into next week? :) Just to get extremely basic syntax support (probably by re-using some other language's grammar).

(We can use this for doc.flix.dev which is based on Highlight.js).

[2022-07-12 07:10] magnus-madsen commented on #3539
Feel free to ping me on Gitter with questions.

[2022-07-12 07:18] jaschdoc commented on #3539
Is this student programmer label intentional (was added a while back)? :)

[2022-07-12 07:37] magnus-madsen commented on #3539
Its up to you :)

[2022-07-12 07:44] magnus-madsen opened #4235 "Refactor Boolean Infrastructure"
- [ ] Rename `BoolTable` to `BoolAlgTable` or BoolAlgebraTable?
- [x] Ensure `BoolTable` is completely independent of `Type`. (Maybe introduce `BoolMinimization` class?
- [ ] Rename `BoolFormula` to `BoolAlgebra`
- [ ] Redocument `BoolFormula` so it is agnostic about formula vs set expression.
- [ ] Rename `True/False` to Top/Bot or maybe Universe/Empty or ?

[2022-07-12 08:07] magnus-madsen opened #4236 "Polish Set Effects"
- [x] Non-public op: The *explanation* should state: An effect operation must be public.
- [x] Introduce a distinct error message for duplicate op. (If there is already one, its text should be updated).
- [ ] Update error message: "Unexpected effect parameter(s)". Also, it should not say tip in the explanation.
- [x] Undefined operation has extra quotes.
- [x] Add auto-complete support for `do ...

[2022-07-12 08:08] magnus-madsen commented on #4236
I suggest to do small targeted PRs for better reviews instead of everything at once :)

[2022-07-12 09:18] jaschdoc commented on #4224
- [ ] Add foreach as keyword snippet to CompletionProvider.
- [ ] Add foreach as a keyword to https://github.com/flix/vscode-flix.
- [ ] Figure out what goes wrong with the syntactic highlight of the second foreach: image
- [ ] Use foreach in all our mutable ToString instances.
- [ ] Ensure every collection has an iterator (e.g. MutList seems to lack one).
- [ ] https://github.com/flix/flix/issues

[2022-07-12 09:52] JonathanStarup commented on #4219
I lean towards let

[2022-07-12 10:06] JonathanStarup commented on #4226
Yes
* List

No
* Option (one element)
* Result (one element)
* Choice (one element)
* Array (append by index, thus linear time)
* Chain (append is O(1), thus linear time)
* Nec (uses Chain)
* Nel (uses List)
* Iterator (on-demand)

[2022-07-12 10:10] jaschdoc commented on #4219
I agree that it is nice in for-loops, but I'm hesitant to add it to match-cases as it just adds more visual clutter.

[2022-07-12 10:55] mlutze commented on #4236
Unable to reproduce

[2022-07-12 11:03] JonathanStarup commented on #3896
There should be one or two PR's left

[2022-07-12 11:04] JonathanStarup commented on #4223
Verification things like quickcheck/termination prover etc?

[2022-07-12 11:38] mlutze commented on #4236
Renaming Effs and Ops is a little tricky. We do the same namespacing trick as Classes, using a companion namespace, so changing an Eff name is tantamount to changing a namespace name. We don't currently support renaming classes or sigs because of this difficulty.

[2022-07-12 11:40] mlutze commented on #4236
Note that this will introduce a parsing ambiguity. Consider: `let x = (e without Throw, None, Fish)` Is `x` a tuple or a singleton?

[2022-07-12 11:54] JonathanStarup commented on #4047
## `as & Pure`
22/62 occurrences
* `DelayMap` thread related RBT calls
* `Map` thread related RBT calls
* `Set` thread related RBT calls
36/62 occurrences
* Benchmarking (28)
* Fixpoint (8)

## Impure

[2022-07-12 12:07] magnus-madsen opened #4248 "Add safe upcast functions?"
What if we added:

[code]

and used them in places where effect casts are safe?

- I assume the above signature could be generalized to work with both effect systems?
- I assume we could also have `upcast2`, `upcast3`, as needed.

[2022-07-12 12:07] magnus-madsen commented on #4248
@JonathanStarup Thoughts?

@mlutze Does this solve our problems? Potentially also for Stephen?

[2022-07-12 12:11] magnus-madsen commented on #4248
I think this:

https://github.com/flix/flix/blob/master/main/src/library/List.flix#L652

can then become just `upcast(identity)`.

[2022-07-12 12:23] mlutze commented on #4248
Yes, this looks good. Especially because it requires a pure argument, which should make it safer than a full cast.

[2022-07-12 12:30] magnus-madsen commented on #4248
Can you quickly confirm that it solves "your" problem?

[2022-07-12 12:38] JonathanStarup commented on #4248
I like it, although I think Effect should be included in the name.

I had a thought that we could make a checked function that can upcast java types so maybe the upcast bucket of names should be left a little open

[2022-07-12 12:47] magnus-madsen commented on #4248
We could consider adding a checked cast expression: `cast e` which transform a into b then post type inference checks whether the casts are sensible.

[2022-07-12 12:48] magnus-madsen commented on #4248
@mlutze If you can confirm this works then Ill ask @jaschdoc to try it out :)

[2022-07-12 13:04] magnus-madsen commented on #4236
OK; lets wait with this one.

[2022-07-12 13:04] magnus-madsen commented on #4236
OK, lets not do. Perhaps we could allow a set?

[2022-07-12 13:13] jaschdoc commented on #4192
I guess the error messages should be for missing instances of:
- `Monad`
- `MonadZero`
- `Applicative`
- `Iterable`

What do you reckon they should say? Something like "Missing instance of `Monad`. Hint: If you're trying to iterate over the collection with a for-loop, you have to add an instance of the type class to the collection`.

[2022-07-12 13:13] magnus-madsen commented on #4248
I think, assuming Matt gives the greenlight, I would like a two pronged approach:

1. We implement `def upcast(...)` as above and use it as widely as possible in the std. lib. We use this to identify any weaknesses etc.
2. We add a new expression `upcast exp` (`Upcast` after `Cast` in the AST) which has lax typing rules (essentially from `a -> b`). Post typing, e.g. in `Safety` or `Redundancy` we

[2022-07-12 13:30] mlutze commented on #4248
Seems to work.

I was unable to reproduce the particular problem with `Nel.reduceRightTo`, (silly Matt, worrying about nothing) so this feature isn't as critical as I had originally thought.

[2022-07-12 13:31] mlutze commented on #4236
Yes, but only a set of constants, right?

[2022-07-12 13:33] magnus-madsen commented on #4248
Nevertheless, lets get it done. Then we can offer it to Stephen and see how many issue he runs into.

@jaschdoc Will you add the `upcast` function and use it throughout the standard library? (A search for `as & Pure` or `as & ef` should be a good starting point.

[2022-07-12 13:52] mlutze commented on #4248
The standard library type checks in `Xeffects` mode without issue. The problem is some weirdnesses. The one I thought we had with `Nel` is no longer a problem. There's still something with `Traversable.ContStateRight`, where the dual effect system made it into an enum, but that's all private so the end user shouldn't be exposed.

[2022-07-12 13:52] magnus-madsen commented on #4192
Yes, but let us hold of a bit.

[2022-07-12 16:12] stephentetley commented on #4222
I can't see a PR for RedBlackTree.iterator already?

If there isn't one then is a Jean-Christophe Filliatre style inorder iterator good enough?

http://www.lri.fr/~filliatr/publis/enum2.pdf

[code]

The `inorder` function isn't needed and is just for reference.

Filliatre's iterator is a defunctionalized version of a CPS iterator so one would hope it is stack safe. This would need verifying of cou

[2022-07-12 16:17] stephentetley commented on #4248
This looks good.

I can have a look at `Traversable.ContStateRight` - I don't think it needs the internal `Impure`.

[2022-07-12 16:19] stephentetley commented on #4230
Could a `MonadZip` class help?

This was added to Haskell for monad comprehensions.

[2022-07-12 17:12] mlutze commented on #4248
@stephentetley Does this work with the `--Xeffects` flag?

[2022-07-12 17:24] #4228 closed

[2022-07-12 17:46] magnus-madsen commented on #4222
How does it work? It uses continuations to capture the current "position" in the tree?

[2022-07-12 17:47] magnus-madsen commented on #4222
There is no iterator. We need something like the above on RedBlackTree and then we can use it on Set and Map.

[2022-07-12 17:52] magnus-madsen commented on #4230
Do you have a link?

[2022-07-12 18:06] stephentetley commented on #4248
@mlutze It works for me with `--Xeffects` though I'm a day or two off Flix head.

It should be copy/pastable over the end of `Traversable.flix` file.

[2022-07-12 18:53] #4040 closed

[2022-07-12 19:06] stephentetley commented on #4222
Maybe it is easier to comprehend without the `Enum` type which is just a List specialized to have three values (key, value, right tree) for the for the element.

Here `Enum` is now called `Stack` because it is the pending stack of triples to be processed:

[code]

The `left` function has to be run first , it chases down the left side of a Tree until it finds the leftmost node. As it goes left it b

[2022-07-12 20:14] magnus-madsen commented on #4222
Thanks; that helps!

Would you be interested in adding it to RedBlackTree and then using it in Set/Map?

[2022-07-12 20:18] mlutze commented on #4248
Is it actually unsafe? It seems that the rule "an expression marked as pure will never have an effect" is not violated.

[2022-07-12 20:19] magnus-madsen commented on #4047
I suggest we:

- Leave the DelayMap and RBT stuff alone.
- Come up with a refactoring of Benchmarking (will you propose something?)
- Leave the File stuff alone.
- Leave the Channel stuff alone.
- I am not sure what can be done for Choose since it is non-deterministic.

[2022-07-12 20:22] magnus-madsen commented on #4248
I meant `upcast` (its late I guess).

[2022-07-12 20:22] magnus-madsen commented on #4248
@jaschdoc Will you give this priority because then we can unblock the merge of set effects :)

[2022-07-12 20:40] stephentetley commented on #4222
Yes I can start on it tomorrow (Wednesday) evening, and MultiMap as well.

Do you want two iterators - one with just values and with keys and values?

[2022-07-13 07:09] JonathanStarup commented on #4248
Nothing bad, I think. `as & Pure` would not use this method.

[2022-07-13 07:22] JonathanStarup commented on #4047
I think that
[code]
should be
[code]
Since this allows calling `choose` on non-static arrays.

---

One of the `File` functions I thought about was
[code]
The above function could also be written:
[code]
The obvious downside of this kind of refactoring is that we now have a region argument that does not remove the impurity. Still, the upside of using regions is that a future change might remove th

[2022-07-13 07:51] #3697 closed

[2022-07-13 08:19] magnus-madsen commented on #4248
Right, so this is only for safe casts, and we are not counting those?

[2022-07-13 09:39] JonathanStarup commented on #4248
We are only counting casts to pure which are never safe so yes

[2022-07-13 12:25] mlutze commented on #4146
Superseded by #4236

[2022-07-13 12:25] #4146 closed

[2022-07-13 14:32] mlutze opened #4257 "Soundness of effect set constants?"
(From #4254)

There was an issue with the application of SVE to effect sets:
{F} - ({E, F} - {E}) should always equal the empty set
But its boolean formula counterpart F and not ((E or F) and not E) is not equal to False.

Per discussion, the argument to the base case of the SVE algorithm must be fully reduced: in a simple set form with no free variables.

In order to arrive at this form, I've int

[2022-07-13 15:10] #3896 closed

[2022-07-14 06:53] JonathanStarup commented on #4043
Do you still want me to look into this, @magnus-madsen?

[2022-07-14 08:23] magnus-madsen opened #4262 "Improvements to `spawn` and the `par` construct"
I got excited about Project Loom -- due to land in the fall -- which brings us light-weight threads.
Thus I started playing around with a few things.

For example, imagine that we want to write a parallel `List.map`. Today, we can do it like (ignore effect s for now):

[code]

This works, but its a bit cumbersome. Let's try some improvements. Assume that `spawn` were to return a channel on which t

[2022-07-14 08:24] magnus-madsen commented on #4262
@JonathanStarup @mlutze @jaschdoc I would like your thoughts.

[2022-07-14 08:33] magnus-madsen opened #4263 "Add `iterator` to `MutSet` and `MutMap`"
Based on Stephen's work in https://github.com/flix/flix/pull/4259.

Also, I think we should add:
- `keyIterator` and `valueIterator` to Map/MutMap.

[2022-07-14 08:35] magnus-madsen commented on #4043
Yes

[2022-07-14 08:41] magnus-madsen opened #4264 "Add `upcast` expression"
Add an expression `upcast exp` (after `Cast`). The `upcast` expression enables safe casts and should be used without concern.

The `upcast exp` works as follows:

- The `Typer` allows `exp` and `upcast exp` to have any types.
- Post type inference, in `Safety, we check that the upcast is sound.

The soundness rules include:

- Casting a pure expression to an effect polymorphic or impure expression

[2022-07-14 09:01] JonathanStarup commented on #4262
What size should the channel have? And what if you put something into the channel before the spawn does? Maybe these questions are just answered by "Don't do that.". We've previously discussed this, and we talked about:
* If you want multiple spawns to use one channel, then the spawn would return unit, thus creating a useless channel that contains a unit value.
* It could be implemented as a regul

[2022-07-14 09:09] paulbutcher commented on #4262
There's a strong argument to suggest that `par` should be forbidden unless the expression(s) it's applied to are pure?

[2022-07-14 09:42] #4166 closed

[2022-07-14 09:44] magnus-madsen commented on #4262
I was not (yet) thinking about effects, but I think forcing e to be pure and making par itself pure would be great. This would essentially give us pure parallelism.

[2022-07-14 09:44] JonathanStarup opened #4265 "feat: Add `tail` to `Foldable` and related namespaces"
We have `head` but there's no tail.

One complication: `Nel` and `Nec` do not return Option

[2022-07-14 09:45] magnus-madsen commented on #4262
I think the channel has size one. Later, possibly, it could be a "ReceiveOnlyChannel". In the interim, sending on the channel would be forbidden (but not enforced).

[2022-07-14 10:03] magnus-madsen commented on #4262
I have no preference (yet). I think `f(par exp1, exp2, par exp3)`  is actually a bit broken, but it would mean: Evaluate exp1 in parallel then evaluate exp2 in the current thread, AND THEN evaluate exp3 (on a new thread). Thus exp2 happens before exp3. I guess it could be necessary if `exp2` was impure (for some reason).

[2022-07-14 10:10] paulbutcher commented on #4262
OK, that makes sense.

To enumerate the possibilities:

1. It could be function definition level (i.e. all calls to the function evaluate all arguments in parallel):
[code]
2. It could be per argument at the definition level:
[code]
3. It could be function call level (i.e. calls to the function evaluate arguments in parallel or not depending on whether `par` is given):
[code]
4. It could be per ar

[2022-07-14 10:22] JonathanStarup commented on #4043
Constraints are stored as a single enum with a denotational tag. The head terms of the constraint are non-empty only if it is a lattice predicate. The nullary relational predicates have no terms internally, so relational terms can be empty. We can either:

1) Split the `Constraint` enum into `RelConstraint` and `LatConstraint`. This will add code in places that do not distinguish.
2) Make nullary

[2022-07-14 10:49] JonathanStarup commented on #4262
It could mean, as you said, that when the Ast has multiple expressions to compute, it will compute the `par` expressions in parallel. This would be relevant for arguments, tuple elements, operands of binary expressions, etc. `f(par 2)` would be a redundancy error since there is only a single expression on the Ast level.

If the expression must be pure, and the par expression is pure, why does the

[2022-07-14 10:56] magnus-madsen commented on #4262
Loom will make parallelism cheap, but not free, so the programmer probably still has to opt into it.

[2022-07-14 12:51] paulbutcher commented on #4262
This isn't a serious suggestion. But while it occurs to me:

If we have an expression level `par`, we could also have an expression level `lazy`.

So `par f(x, y, z)` means "eagerly evaluate x, y, and z in parallel and then call f once all of them have finished evaluating". And `par x + y` means "eagerly evaluate x and y in parallel, and then add them once both are available".

`lazy` is effective

[2022-07-14 12:57] jaschdoc commented on #4224
Hmm not sure about your vscode thing. Mine works just fine.
![Screenshot from 2022-07-14 14-56-06](https://user-images.githubusercontent.com/60233376/178987617-6fe61614-450d-476f-912f-413badbe9aa1.png)

[2022-07-14 13:00] magnus-madsen commented on #4262
Interesting observation. Let me mull over it.

[2022-07-14 16:26] jaschdoc commented on #4224
Do we want enumerator on maps to return an iterator of type `Iterator[(k, v, Int32), r]`?
Instead of `Iterator[((k, v), Int32), r]

[2022-07-14 18:45] mlutze commented on #4264
We should also add this to the desugaring done in the `Weeder`. Currently `import ...(): SomeType & SomeEff` desugars to `... as SomeType & SomeEff` (a regular cast). Desugaring instead to an `upcast` would cover part of the idea suggested in https://github.com/flix/flix/issues/2867

[2022-07-14 19:34] jaschdoc commented on #3539
I've been reading up on the docs for contributing to highlight.js. I think we should create a repo under the Flix organization where we host the language definition / grammar for Flix (for highlight.js). Thoughts?

https://github.com/highlightjs/highlight.js/blob/main/docs/language-contribution.rst (first part)

[2022-07-14 19:51] #4257 closed

[2022-07-15 06:33] mlutze opened #4272 "Dispatch unification by kind"
Currently we have branched off `BoolUnification` and `SetUnification` from the main `Unification` object. I think it would be nice organizationally to turn `Unification.unifyTypes` into a simple dispatch based on the kinds of the arguments:

[code]

[2022-07-15 07:29] mlutze commented on #4262
I think there's an issue with putting it at the function definition level, which is that it messes with our standard notions of how purity works.

Instead of only knowing about the types of its arguments, a function now has to know about the purity of the expressions used to give them.
[code]

So the scheme of `f` here is something like `forall a, b . (a % Pure) -> (b % Pure) -> c`.
I haven't look

[2022-07-15 07:42] magnus-madsen commented on #4224
I think enumerators on maps would be a bit silly? How about we just omit them?

[2022-07-15 07:44] magnus-madsen commented on #1525
I don't remember anything :)

But I guess just that they support the features you would expect!

[2022-07-15 07:45] magnus-madsen commented on #3539
Oh, but they write this "Request a repository at the highlightjs organization"

[2022-07-15 07:46] magnus-madsen commented on #3539
Reading that document makes me super confused. But I guess they are trying to say that they do not accept language PRs?

[2022-07-15 07:54] magnus-madsen commented on #4262
If we put it at the definition site, the semantics would probably be "run this argument in parallel" -- if pure. That said, I am not sure what the major benefit of having it at the definition site would be. Do we have one example where you would want that over having it at the call site? I think having it at the call site would offer the most flexibility.

[2022-07-15 07:57] magnus-madsen commented on #4262
I have actually been thinking of something similar. For example, if we were to define "and" in the language, we would want its second argument to be lazy, e.g. `def and(x: Bool, lazy y: Bool)` at the definition site and then at the call site we should make the second argument lazy. Scala can already do this with its by-name parameters.

[2022-07-15 07:59] magnus-madsen commented on #4262
@mlutze Which of these do you prefer:

3. It could be function call level (i.e. calls to the function evaluate arguments in parallel or not depending on whether `par` is given):
[code]
4. It could be per argument at the call level:
[code]

[2022-07-15 08:16] mlutze commented on #4262
I prefer 4, per argument.

- It allows for an easier transition to `par e` as a more-generally used expression
- It more clearly associates the parallelism (and thus necessity for purity) with each expression

[2022-07-15 08:29] magnus-madsen commented on #4262
@athas We would like your input on a subject within your expertise:

We are thinking of adding a feature to make parallelism more accessible in Flix.
The general Flix concurrency story is based on channels and threads.
This proposal does not modify or replace that, but aims to scratch an itch and look cool.

# Proposal 1

We allow a programmer to write this syntactic form:
[code]
We require exp1,

[2022-07-15 08:32] magnus-madsen commented on #4264
On second thought, this may not work. Remember upcast is not an actual cast. In particular, it does not take any type or effect arguments!

[2022-07-15 08:53] athas commented on #4262
I think a more fundamental solution would be to use futures, which would require pure expressions.  Your `spawn` is basically that, right?  Futures are general enough to implement both of those proposals in user code, except that your `parMap` would require two traversals (one to create all the futures and one to wait for them).  I don't think there is much value in having designated syntax for ev

[2022-07-15 08:56] jaschdoc commented on #4224
Alright sounds good.

[2022-07-15 08:56] magnus-madsen commented on #4262
At the moment spawn has type `a -> Unit` and you then communicate the result out of the process via channels (which is impure).

Yes, indeed. What I was trying to do is figure out a way to avoid that which looks pleasing :)

[2022-07-15 09:00] paulbutcher commented on #4262
The big difference between Magnus' proposals and futures (to my mind) is that futures would require (as Flix currently stands, at least) passing a function to the future (hence writing a lambda or similar) and some syntax to deference the future? (Unless I'm missing something).

We could do away with at least some of that additional noise if we had something like Scala's call by value (or the lazy

[2022-07-15 09:49] jaschdoc commented on #4224
What do you think we should do with the `Ident` issue? https://github.com/flix/flix/issues/4224#issuecomment-1184564176

[2022-07-15 11:41] JonathanStarup opened #4276 "Feature idea: Effect highlighting"
I want to be able to click on an effect in the header of a function and have the expressions are cause that effect to be highlighted, like so:
![image](https://user-images.githubusercontent.com/32037926/179214501-ccd7a46c-dfde-42e0-8ca3-596bd76b46d0.png)

This could be implemented in gradually more complex steps:
1) Highlight base expressions: `ref 2 @ r`, `[] @ r`, `do F()`
2) Highlight direct fu

[2022-07-15 12:02] mlutze opened #4277 "Incremental compilation hides error"
Steps to reproduce:
1. Open clean VSCode project
2. Create Some enum with an `Empty` case
3. See that things compile
4. Reopen VSCode
5. See that there's a name collision with `Chain.empty`

[2022-07-15 12:52] #4248 closed

[2022-07-15 12:59] magnus-madsen commented on #4276
I think an easy starting point is to look at the do-effect.

[2022-07-15 13:40] mlutze opened #4279 "Set.filterMap"

[2022-07-15 13:58] JonathanStarup opened #4280 "Add List Literal"
I want to write `List#(1, 2, 3)` or maybe `List#{1, 2, 3}`

[2022-07-16 10:41] magnus-madsen commented on #4280
This has been discussed before. There is a ticket somewhere. Stephen was in favor, but I was on the fence.

I still think what you want is immutable vectors.

[2022-07-16 10:42] mlutze opened #4281 "Check set effects for purity reflection"
Currently we only look at the binary effects.

[2022-07-16 10:45] mlutze opened #4282 "Better upcast for set effects"
Currently `upcast` requires a pure function.

This is fine for the binary effects, but prevents the set effects from upcasting from `{Print}` to `{Print, Throw}`.

I think we could implement a safe set upcast with something like `upcast(a -> b \ e): (a -> b \ {e, f})`.

[2022-07-16 10:47] mlutze opened #4283 "Add large set effect test suite"
Making this a separate issue so I can mark it as high priority :)

[2022-07-16 10:55] magnus-madsen commented on #4281
binary -> boolean

[2022-07-16 10:56] mlutze commented on #4281
I thought boolean was ambiguous :D

[2022-07-16 11:18] #4162 closed

[2022-07-16 11:32] paulbutcher commented on #3989
I've just created #4284 which adds all the `Packager` commands to the REPL. I suggest that we close this ticket (given that we're going to hold off on user-defined prelude for now) once that's merged?

[2022-07-16 11:46] jaschdoc commented on #3539
Yes, so the way I understand it is: They don't accept language PRs into the core anymore so any new functionality is through 3rd party language extensions which means a repo that's hosted and maintained by someone else. They do, however, accept hosting the new language extension **repository** in the highight.js organization so the extensions are all in one place (and possibly make it seem more le

[2022-07-16 12:05] jaschdoc opened #4285 "Maybe: refactor `LocalVar` in Entity"
Taken from TODO comment above case class `LocalVar` in Entity:
[code]

[2022-07-16 12:08] magnus-madsen opened #4286 "Add `Par` Expression"
I want to add two new constructs: `ParApply` and `ParTag`. The latter is very similar to the former, but I suggest to implement `ParApply` fully before tackling `ParTag`.

Both constructs should exists until the Lowering phase where they are translated.

We allow a programmer to write:

[code]

The type system treat this as a normal call, except that `exp2, ... expn` must be pure.

During the lowe

[2022-07-16 12:08] magnus-madsen commented on #4286
@jaschdoc I think this should be a fun task (after/during upcast work) :)

[2022-07-16 12:09] magnus-madsen commented on #4262
Based on these discussions, I have created: https://github.com/flix/flix/issues/4286

[2022-07-16 12:09] #4262 closed

[2022-07-16 12:16] athas commented on #4286
Why mix it up with function application at all, instead of just returning a tuple?

[2022-07-16 13:39] mlutze opened #4287 "Crash when putting `@test` on non-unit function"
[code]

Running this test causes a crash, but we should instead issue a compilation error or test failure

[2022-07-16 19:27] magnus-madsen commented on #4286
It's a good point! If you think about it, parallelism is just the ability to write `exp1 || exp2 || exp3` (possibly with some mechanism for communication). Taking this a step further, you would want a "parallel tuple": `par (exp1, exp2, exp3)`. Then, if you were in Standard ML, you could write `f (par (exp1, exp2, exp3))` and you would have what I propose... But unfortunately Flix has multi-argume

[2022-07-16 19:40] magnus-madsen commented on #3539
Yes. So should we create a flix/highlight.js repo? What should be in this?

[2022-07-16 20:01] athas commented on #4286
Surely just having parallel tuples also lets you write a parallel Lisp.map?  Pseudocode:

[code]

Although if this `par` construct always returns a tuple, you might as well just write ``Cons(par(f(x),List.map(f,xs)))` (maybe you'll need some curry/uncurry stuff; I can never keep track of how tuples interact with using parens for function application).

[2022-07-16 21:17] magnus-madsen commented on #4286
In fact, we could probably have `Cons(par (f(x), List.map(f, xs))`. Hmm. I will think about it.

[2022-07-16 22:42] mlutze commented on #4285
IMO Entity needs a more significant redesign, where we have both a `DefDeclaration` entity and a `DefUse` entity, etc., possibly boiling down to even more specific cases. Currently we have a lot of matching with default cases, which makes it difficult to know what is missing.

[2022-07-17 06:25] #3989 closed

[2022-07-17 06:26] magnus-madsen commented on #4285
Do either of you have a sketch?

[2022-07-17 07:57] magnus-madsen commented on #4213
We keep it.

[2022-07-17 07:57] #4213 closed

[2022-07-17 07:57] magnus-madsen commented on #4219
Lets not do it.

[2022-07-17 07:57] #4219 closed

[2022-07-17 08:22] mlutze commented on #4285
I did some minor exploration here: https://github.com/flix/flix/pull/4290

There are a couple of issues (not yet addressed in that PR)
1. Entities whose location is exactly the same as another, meaning that it's ambiguous which is selected, and
2. Entities nested inside other entities, where the inner entity has no associated action but blocks the action of the outer entity.

I think that both of

[2022-07-17 13:10] ninaandrup commented on #2873
The only collections left are `MultiMap` and `RedBlackTree`. We only have `Map.toMultiMap` at the moment, and no `toRedBlackTree` functions at all. Do we want these in `Foldable`?

[2022-07-17 14:24] magnus-madsen commented on #2873
OK, then I think we are done :)

[2022-07-17 14:24] #2873 closed

[2022-07-17 17:26] magnus-madsen opened #4291 "NewObject and ClosureConv/LambdaLift"
- [x] Add expression to `JvmMethod` throughout the backend ASTs.
- [x] In `ClosureConv`, handle `JvmMethod` in `NewObject` almost like `Lambda`.
- [x] In `LambdaLift`, visit `JvmMethod` expression.
- [x] Post `LambdaLift`, refactor `JvmMethod` to have an expression of type `Expression.Closure` (and not just `Expression`).
- [x] Refactor `GenExpression.NewObject` case as follows. For each `JvmMetho

[2022-07-17 19:19] magnus-madsen commented on #4291
A good starting point would be to extend the generated classes with a field for each JvmMethod. The field should a closure of the appropriate type (`JvmOps.getClosureClassType(sym)`).

[2022-07-18 05:11] magnus-madsen opened #4293 "Use the `NonDet` effect for channel operations"
Refactor the channel operations to be NonDet.

[2022-07-18 05:12] magnus-madsen opened #4294 "Refactor the Standard Library to use the IO Effect"
Depends on #4200

The purpose of this task is simply to refactor signatures of the form:

[code]

to

[code]

i.e. replace `& Impure` by `\ IO`.

I suggest to proceed by namespace:

- [x] Benchmark (blocked by #4261)
- [ ] Console -- (I suggest to start here)
- [ ] File -- (I suggest to start here)
- [ ] Prelude
- [ ] RedBlackTree (blocked by the need for NonDet and channels).
- [ ] System
- [ ] T

[2022-07-18 05:13] magnus-madsen opened #4295 "Introduce `Console` effect and use it in Console and System"

[2022-07-18 05:14] magnus-madsen opened #4296 "Use `NonDet` for Random and shuffle functions"
Refactor `Random` functions to be pure modulo `NonDet`.

[2022-07-18 05:23] magnus-madsen commented on #4236
I updated the checklist.

[2022-07-18 05:56] #4223 closed

[2022-07-18 06:22] #4222 closed

[2022-07-19 08:50] mlutze commented on #4235
What terminology should I use?
- Latticelike (`join`, `meet`) or (`lub`, `glb`)
- Nontechnical (`both`, `either`)
- Something else?

[2022-07-19 08:53] magnus-madsen commented on #4235
What does the literature use?

[2022-07-19 10:50] mlutze commented on #4236
The `IllegalPrivateDeclaration` is a single error covering classes, instances, and effects. I could:
1. Make the error message general enough, e.g., `The following declarations must be public: X, Y, Z`
2. Pass an enum parameter to the error to determine the message
3. Create a separate error object for each case

Because of the way namespaces are handled, an operation may not share a name with a d

[2022-07-19 11:45] magnus-madsen commented on #4236
OK, let's ensure that the error message is sufficiently general.

Good point. Let's leave the error message, but ensure it is sufficiently general.

Yep. We only get effect operations (or at least with high priority).

[2022-07-19 11:47] magnus-madsen commented on #4236
What is the problem with renaming an effect **operation** again?

[2022-07-19 11:53] mlutze commented on #4236
The location of an `OpSym` carries its entire fully-qualified name, with namespace and effect name. So we can't narrow it down to only the operation part. Some hacky options that I don't like:
1. Only include the unqualified part in the location (this is done for DefSyms, I think)
2. Examine the location of the sym and only modify the text from the last `.` onward

A better solution IMO is to give

[2022-07-19 11:55] magnus-madsen commented on #4236
But its only the op name part that is renamed, no? E.g. `print` to `print2`?

[2022-07-19 11:59] magnus-madsen commented on #4236
Because `OpSymUse` does not save its constituents I guess?

[2022-07-19 12:00] magnus-madsen commented on #4236
But I still think it could just overwrite it with the new name. (At least until we allow `use` of effect-- we don't have that yet, right?)

[2022-07-19 12:03] mlutze commented on #4236
Right.

But then we get "can't find `print2`" errors :(

Effects are namespaces so you should be able to do `use Console.print; ... do print("hello")`

[2022-07-19 12:22] magnus-madsen commented on #4236
I forget.

[2022-07-19 12:37] magnus-madsen commented on #4236
Do we want to ban unused effects?

[2022-07-19 12:52] mlutze commented on #4236
Yep, it's in the list.

Yes, I have one for the tests already.

[2022-07-19 19:51] magnus-madsen opened #4308 "Polish Effects - Part II"
- [ ] Add specific generalization error for when a pure function is missing an effect.
- [ ] Add specific generalization error for when a purely effect polymorphic function is missing an effect.
- [ ] Add specific generalization error for when a function, with a specific set of effects, is missing a specific effect.
- [ ] Add a specific error for unification errors of the form "Unable to unify the

[2022-07-19 19:55] magnus-madsen opened #4309 "LSP: Add new semantic tokens"
- For regions
- For effects

TBD

[2022-07-19 21:40] magnus-madsen opened #4310 "Simplification of set effects"
This:

[code]

correctly, but confusingly, yields:

[code]

[2022-07-19 21:44] magnus-madsen opened #4311 "Test case inspiration"
This program:

[code]

~does not type check, but I think it should?~

EDIT: I am stupid. It should not type check!

[2022-07-19 21:46] magnus-madsen commented on #4311
This works:

[code]

[2022-07-19 21:47] magnus-madsen commented on #4311
On the other hand, this:

[code]

should type check and it does 👍

[2022-07-19 21:48] magnus-madsen commented on #4311
@mlutze Maybe these examples can be used for inspiration?

[2022-07-19 21:52] magnus-madsen commented on #4311
We could also add some "dual" tests which check that using a type signature with/without is equivalent, e.g.:

[code]

should always work.

I think such tests would be good.

[2022-07-20 07:10] paulbutcher opened #4313 "chore: closure tidyup"
As per discussion with @magnus-madsen, remove unused `freeVars` member of `SimplifiedAst.Expression.Closure` and `tpe` argument to `getClosureClassType`.

[2022-07-20 08:19] #4313 closed

[2022-07-20 08:21] magnus-madsen commented on #2215
@nicdard Gentle ping :)

Do you think you could add a skeleton implementation? Just one that returns no code actions.

[2022-07-20 08:52] mlutze commented on #4308
Just the boolean part, but not empty set?

[2022-07-20 10:47] mlutze commented on #4308
This is referring to inferred types, right? I don't think we should minimize declared types since changing their shape could confuse the user.

[2022-07-20 10:48] magnus-madsen commented on #4308
Yep

[2022-07-20 12:24] jaschdoc opened #4321 "Improve phase documentation"
Every phase should document what it does better (including examples and explaining it other than just reading off the type signature etc.)

[2022-07-20 12:31] mlutze commented on #4308
Do we also want to highlight signatures and defs associated with that effect? I believe that's what Jonathan of Aarhus was looking for.

[2022-07-20 12:46] mlutze commented on #4308
We cannot always do this because `{ }` is the empty record as well. But we can do this for places we know are sets.

[2022-07-20 14:04] mlutze opened #4323 "Typo in `Unification.scala`"
https://github.com/flix/flix/blob/2d6ac85f5690ac02f578854894906cfff80cfd66/main/src/ca/uwaterloo/flix/language/phase/unification/Unification.scala#L251

I assume that this:
[code]

should be this
[code]

(swapping `type2`, `type1`)

[2022-07-20 15:25] magnus-madsen commented on #4308
Yes

[2022-07-20 15:25] magnus-madsen commented on #4308
I think at minimum a `without` expression is useless if the underlying expression is pure. A stronger requirement would be if the underlying expression has a non-polymorphic constant effect set.

[2022-07-20 15:26] magnus-madsen commented on #4308
I think you click on "Console" and it shows you all mentions of "Console" PLUS all mentions of `do Console.XYZ`, but no more. What more than that?

[2022-07-20 15:27] magnus-madsen commented on #4308
OK, agreed.

[2022-07-20 18:30] magnus-madsen commented on #4308
OK; I think that is too difficult to define precisely. I would be happy with just highlighting the direct `do` operations for now.

[2022-07-20 19:27] #4310 closed

[2022-07-20 22:40] nicdard commented on #2215
Sorry! Yes sure last weekend I was travelling in the end, this other weekend I'll be working on this instead :) Sorry for all delays, really!

[2022-07-21 06:28] magnus-madsen commented on #2215
No worries, appreciate your help and expertise!

[2022-07-21 07:03] magnus-madsen commented on #4308
@mlutze Will you tick off the solved tasks? :)

[2022-07-21 09:18] magnus-madsen opened #4325 "Import JVM Types"
At the moment we have to write `##java.lang.Foo` everywhere. I think it would be useful if we could have some import mechanism to shorten this.

[2022-07-21 09:19] magnus-madsen commented on #4325
Does `type alias File = ##java.io.File` work as a stop-gap?

[2022-07-21 10:33] jaschdoc opened #4326 "Call `System/StdOut/println` in prelude?"
Currently we're importing java stuff and implementing it directly in the prelude.

[2022-07-21 10:39] magnus-madsen commented on #4326
Because `System` is not part of the minimal library used for testing, but Prelude is :)

[2022-07-21 10:39] #4326 closed

[2022-07-21 10:49] mlutze commented on #4325
That's what I always do

[2022-07-21 16:34] #4263 closed

[2022-07-21 18:32] #3821 closed

[2022-07-21 19:52] magnus-madsen opened #4330 "Add syntactic sugar for FunctionalInterfaces"
We are rapidly approaching the point where we can write:

[code]

For these special function interfaces, it would be nice if we had some simpler syntax.

[2022-07-21 21:32] stephentetley opened #4331 "_WithIndex functions - functional arg subject last?"
This is a very minor point, but should the higher-order functions supplied to _WithIndex traversals be subject last (index first)?

E.g currently we have...

but should it be...

I suspect it will be very, very rare to write the supplied function as a curried function with just the index[*], so there won't be much benefit to a change except consistency towards the "subject last" principle.

[*] I'

[2022-07-21 21:46] stephentetley commented on #4330
def:

use:

[2022-07-22 06:17] stephentetley commented on #4330
Actually my suggestion above doesn't make sense if objects are first-class values.

[2022-07-22 06:25] magnus-madsen commented on #4330
Yes, they can be. If you implement an interface or extend a class.

[2022-07-22 06:31] magnus-madsen commented on #4331
This makes sense to me. It is also consistent with `enumerator`.

[2022-07-22 11:20] magnus-madsen opened #4333 "Add `gradle.properties` and upgrade Gradle"

[2022-07-22 11:49] magnus-madsen commented on #4188
+1

[2022-07-22 12:11] magnus-madsen opened #4335 "Incrementalize `Instances` Phase and Instances part of Typer"
If we want to speedup the test suite significantly, it would help to incrementalize these two since they account for ~40% of compilation time.

[2022-07-22 12:12] magnus-madsen commented on #4335
@mlutze Maybe there is something simple we can do relying on the stability part?

[2022-07-22 12:16] magnus-madsen commented on #4335
We have 45 instances, but it takes 100ms to check them in parallel. o_O

[2022-07-22 12:30] #4333 closed

[2022-07-22 12:47] #3504 closed

[2022-07-22 12:48] mlutze commented on #4335
There are several phases which only do checking, not transformation. I think it would be reasonable for all such phases to handle something less expensive than a validation.

[2022-07-22 13:02] magnus-madsen commented on #4335
Will this https://github.com/flix/flix/blob/master/main/src/ca/uwaterloo/flix/language/phase/Instances.scala#L248 not call e.g. checkOrphan multiple times on the same instance?

[2022-07-22 13:15] magnus-madsen opened #4336 "Refactor `Instances`"
- [x] Get rid of Validation, instead simply return a list of errors.
- [ ] Move all functions to the top-level (and make them private).
- [ ] Exploit incremental compilation.

[2022-07-22 13:15] magnus-madsen commented on #4335
https://github.com/flix/flix/issues/4336

[2022-07-22 13:33] #4335 closed

[2022-07-23 16:05] magnus-madsen opened #4340 "Treat IO and NonDet as Impure"
Modify the frontend to treat `def f(): Unit \ {IO}` as `def f(): Unit & Impure \ {IO}`. Same for `NonDet`.

This will allow us to generally migrate the syntax in the standard library while keeping both effect systems active.

[2022-07-24 09:15] paulbutcher opened #4343 "Broken benchmarks"
A couple of files in `main/src/resources/benchmark` are broken:

[code]

[code]

[2022-07-24 09:41] #4296 closed

[2022-07-24 09:46] magnus-madsen commented on #4295
We will not have this effect for now.

[2022-07-24 09:46] #4295 closed

[2022-07-24 10:01] stephentetley commented on #4230
I've implemented Haskell's `MonadZip` class in Flix - shall I make a PR to add it to the stdlib?

[2022-07-24 10:02] magnus-madsen commented on #4230
Yes, please! I cannot guarantee we will use it, but I can take a look and try to understand it :)

[2022-07-24 10:03] magnus-madsen commented on #4230
Paper looks interesting. Just need to find the time :)

[2022-07-24 11:54] magnus-madsen opened #4346 "Changes to the Effect System"
We are changing the effect system. The changes will bring several long-term benefits which will be described separately.

But for now, here is what you need to know:

- If your program worked before, it should work now (but you will need to make some syntactic changes).
- We are (gradually) changing the language of effects from Boolean formulas to set expressions.
- The effect separator is changin

[2022-07-24 12:57] mlutze commented on #4346
(Code block 2 edited by Matt)

[2022-07-24 15:51] stephentetley commented on #4230
I've created a PR #4347 - feat: add a MonadZip class, potentially helping issue #4230

I'm looking at adding some more `Applicative` / `Monad` traversals to the stdlib so I've included a generic `zipWithA` function that isn't in the Haskell class.

[2022-07-24 20:39] magnus-madsen opened #4349 "import as syntactic sugar for type alias"
We could allow:

[code]

at the top-level as syntactic sugar for:

[code]

[2022-07-24 20:44] magnus-madsen opened #4350 "change grammar of `object` to allow a type"
Thus we would allow:

[code]

[2022-07-24 20:44] magnus-madsen commented on #4350
@paulbutcher I don't think there is a downside other than we need a check somewhere that the type is of the right shape.

[2022-07-24 20:51] magnus-madsen opened #4351 "`import` could be `Impure` (`IO`) by default."
If you wanted it pure, you would have to write that instead.

[2022-07-24 22:52] nicdard commented on #2215
I have started looking at this task :)

[2022-07-25 07:30] JonathanStarup commented on #4346
I think we need documentation for effects. This would: 1) be a place for new people to learn about purity, and 2) A place to explain exactly what each effect encompasses (`Write(r)` also represents allocation, reading system time is IO, etc.).

[2022-07-25 07:32] JonathanStarup commented on #4343
I think these files should be added as tests to check compilation.

[2022-07-25 07:41] paulbutcher commented on #4350
This makes sense. Related, it would be good to allow aliases within method parameter lists too (which may be related to your comment https://github.com/flix/flix/pull/4348#discussion_r928298115)?

Can you give me a hint about what a check for it being the right shape might look like?

[2022-07-25 07:56] JonathanStarup commented on #4330
I don't think there is much to omit (except `{}`) unless you want to omit the def header? Maybe with a pun
[code]

[2022-07-25 08:10] JonathanStarup commented on #4308
Highlight every function application where the function has the return effect. We cannot check the application expression effect because of cases like `f(do F)` where `F` will taint the application expression. Is this precise enough?

[2022-07-25 08:16] JonathanStarup commented on #4321
I think this will be good for new devs, but there are downsides.

1) comments become outdated and require upkeep (would every new error in redundancy require doc changes?)
2) it is hard to do for less coherent phases, like safety or weeder

1 can be solved by keeping it high-level (so perhaps not examples?) such that no change requires doc changes.

[2022-07-25 08:56] JonathanStarup commented on #4280
I think my broader thought is that it feels odd to be functional-first but sometimes envy the syntax of arrays when working with lists. Is there any reason things like `[1; 100]` exist when it could be implemented as `Array.repeat` using the same java calls as the backend?

[2022-07-25 10:41] paulbutcher opened #4353 "Add support for arrays to NewObject"
Look at this after #2591 is complete.

(also varargs)

[2022-07-25 10:49] magnus-madsen commented on #4353
But does it work with some arrays or what?

[2022-07-25 10:58] paulbutcher commented on #4353
Right now, it doesn't work with any arrays at all. The major reason for this is that `JvmType.toDescriptor` doesn't know how to generate an array descriptor:

https://github.com/paulbutcher/flix/blob/master/main/src/ca/uwaterloo/flix/language/phase/jvm/JvmType.scala#L29

I could create something analogous to the code within the `Expression.InvokeMethod` case:

https://github.com/flix/flix/blob/mas

[2022-07-25 12:33] JonathanStarup commented on #4353
I think we should copy the hack for now so we at least support 1-dimensional arrays until the new backend arrives